<template>
    <div class="right_sidebar">
        <div class="sidebar">
            <div class="add_ads_post">
                <button type="button" class="btn btn-sm">
                    <a href="car-ads-post.html">Add Your Post</a>
                </button>
            </div>
            <div class="post_search">
                <form>
                    <input type="text" class="form-control">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="journey_schedule">
                <div class="filter">
                    <h4>Sort Results by</h4>
                    <div class="mb-3">
                        <select class="form-select form-select-sm" aria-label="Default select example">
                            <option value="Low to High">Low To High</option>
                            <option value="Low To Medium">Low To Medium</option>
                            <option value="Midium To High">Midium To High</option>
                        </select>
                    </div>

                    <h4>Price Range</h4>
                    <div class="mb-3">
                        <input type="range" class="w-100" min="0" max="100" value="7" step="1">
                    </div>

                    <h4>Filter ads by</h4>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">URGENT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">FEATURED</label>
                        </div>
                    </div>

                    <h4>Filter by Catergories</h4>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Bike</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Private Car</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Microbus</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Ambulance</label>
                        </div>
                    </div>

                    <h4>Filter by City</h4>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Dhaka</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Barishal</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Khulna</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Rajshahi</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>