<script>
import AuthStore from "@/store/AuthStore.js";

export default {
    setup(){
        const { authUser } = AuthStore();

        return {
            authUser:authUser(),
        }
    }
}
</script>
<template>
    <div class="left_sidebar">
        <div class="sidebar">
            <div class="welcome">
                <h2>Hi, {{ authUser?.name }}!</h2>
                <p>Welcome, Make your journey easy and comfortable</p>
            </div>
            <div class="driver_passenger">
                <button type="button" class="btn" :class="(authUser?.driver_passenger == 'driver')?'active':''">Driver</button>
                <button type="button" class="btn" :class="(authUser?.driver_passenger == 'passenger')?'active':''">Passenger</button>
            </div>
            <div class="services">
                <ul>
                    <li><router-link to="/">Return Trip</router-link></li>
                    <li><router-link to="rent-a-car">Rent A Car</router-link></li>
                    <li><router-link to="car-sell-exchange">Car / Sell / Exchange</router-link></li>
                    <li><router-link to="my-wallet">My Wallet</router-link></li>
                </ul>
            </div>
            <div class="ads">
                <img src="assets/images/frontend/Destop_Ads01.png" alt="ads img">
                <img src="assets/images/frontend/Destop_Ads02.png" alt="ads img">
            </div>
        </div>
    </div>
</template>