<template>
    <div class="sidebar">
        <div class="title">Menu</div>
        <ul>
            <li><router-link to="/dashboard" class="link">Dashboard</router-link></li>
            <li><router-link to="/user/trip-booked" class="link">Trip Booked</router-link></li>
            <li><router-link to="/profile" class="link">Profile</router-link></li>
            <li><router-link to="/change-password" class="link">Change Password</router-link></li>
            <li><router-link to="/#" class="link">Logout</router-link></li>
        </ul>
    </div>
</template>