<template>
    <div class="right_sidebar">
        <div class="sidebar">
            <div class="add_rent_car">
                <button type="button" class="btn">Add Your Car</button>
            </div>
            <div class="post_search">
                <form>
                    <input type="text" class="form-control">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="journey_schedule">
                <div class="filter">
                    <h4>Filter</h4>
                    <div class="mb-3">
                        <label for="">Select District</label>
                        <select class="form-select form-select-sm" aria-label="Default select example">
                            <option value="Dhaka">Dhaka</option>
                            <option value="Sylhet">Sylhet</option>
                            <option value="Chittagong">Chittagong</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="">Select Thana</label>
                        <select class="form-select form-select-sm" aria-label="Default select example">
                            <option value="Ramna">Ramna</option>
                            <option value="Tejgaon">Tejgaon</option>
                            <option value="Shahbag">Shahbag</option>
                        </select>
                    </div>

                    <h4>Filter by Categories</h4>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Cars</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">Ambulance</label>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>