<template>
    <div class="right_sidebar">
        <div class="sidebar">
            <div class="post_search">
                <h5>Search Post</h5>
                <form>
                    <div class="group">
                        <input type="text" class="form-control form-control-sm" placeholder="Pick Point">
                        <!-- <ul class="items">
                            <li class="item">data</li>
                        </ul> -->
                    </div>
                    <div class="group">
                        <input type="text" class="form-control form-control-sm" placeholder="Drop Point">
                        <!-- <ul class="items">
                            <li class="item">data</li>
                        </ul> -->
                    </div>
                    <select class="form-select form-select-sm car_type" aria-label=".form-select-sm example">
                        <option value="">Choose Car</option>
                        <option value="Private Car">Private Car</option>
                        <option value="Ambulance">Ambulance</option>
                        <option value="Microbus">Microbus</option>
                        <option value="Bike">Bike</option>
                    </select>
                    <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                    <!-- <button type="button" class="btn"><div class="spinner-border spinner-border-sm" role="status"></div> Search</button> -->
                </form>
            </div>
            <div class="search_date">
                <!-- <input type="date" value="6-22-2022"> -->
            </div>
            <div class="journey_schedule">
                <h4>My  Journey Schedule</h4>
                <div class="schedules">
                    <div class="item">
                        <img src="/assets/images/frontend/Destop_Ads02.png" alt="Schedule Img">
                        <div class="content">
                            <div class="title">Dhaka to Barishal</div>
                            <div class="date">16 August, 2022</div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/assets/images/frontend/Destop_Ads01.png" alt="Schedule Img">
                        <div class="content">
                            <div class="title">Dhaka to Barishal</div>
                            <div class="date">16 August, 2022</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
