<template>
    <div id="main_page">
        <aside-bar v-if="currentPage !== '/admin/login'"></aside-bar>
        <div class="wrapper">
            <div class="content_wrapper">
                <main-header v-if="currentPage !== '/admin/login'"></main-header>
                <router-view></router-view>
                <!-- <main-footer></main-footer> -->
            </div>
        </div>
    </div>
</template>
<script>
import MainHeader from "@/modules/admin/layouts/MainHeader.vue";
// import MainFooter from "@/modules/admin/layouts/MainFooter.vue";
import AsideBar from "@/modules/admin/layouts/AsideBar.vue";
import { useRouter } from "vue-router";
import { onMounted, ref } from 'vue'

export default {
    components: { MainHeader, AsideBar },
    setup(){
        const router = useRouter();
        const currentPage = ref('');
  

        onMounted(() => {
            currentPage.value = router.currentRoute.value.href;
        })

        router.afterEach(() => {
            // Display an alert message on URL change
            currentPage.value = router.currentRoute.value.href;
        });
        

        return {
            currentPage,
        }
    },
    created: function(){
        console.log('Hi');
        console.log(this.currentPage);
    }
}
</script>
