<template>
    <div class="container-fluid overview_wrapper py-3">
        <h2 class="mb-3">Dashboard</h2>
        <div class="short-overview grid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-grid grid-1">
                        <h4>Today Orders</h4>
                        <div class="count">
                            <i class="fa-solid fa-wallet"></i>
                            <span>0</span>
                        </div>
                        <div class="bcare-prcnt">
                            <h5>Company(7%) Any Orders.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-grid grid-2">
                        <h4>Last 7 Days Sale</h4>
                        <div class="count">
                            <i class="fa-solid fa-shopping-bag"></i>
                            <span>0 Tk</span>
                        </div>
                        <div class="bcare-prcnt">
                            <h5>Company(7%) <span>0 Tk</span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-grid grid-3">
                        <h4>Last 30 Days Sale</h4>
                        <div class="count">
                            <i class="fa-solid fa-database"></i>
                            <span>0 Tk</span>
                        </div>
                        <div class="bcare-prcnt">
                            <h5>Company(7%) <span>0 Tk</span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-grid grid-4">
                        <h4>Total Sales</h4>
                        <div class="count">
                            <i class="fa-solid fa-water"></i>
                            <span>0 Tk</span>
                        </div>
                        <div class="bcare-prcnt">
                            <h5>Company(7%) <span>0 Tk</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="latest-order-list mt-5">
            <div class="container-fluid overview_wrapper py-3">                
                <!-- Main Body Code Start -->
                <div class="div_container lists">
                    <h2 class="heading">Latest Orders <span class="float-end">22/02/2022</span></h2>
                    <div class="create_list table-responsive">
                        <div class="sorting_search">
                            <ul class="sorting">
                                <li><a href="#">All <span class="count">(2)</span></a></li> | 
                                <li><a href="#">Published <span class="count">(2)</span></a></li>
                            </ul>
                            <div class="search">
                                <form>
                                    <input type="text" class="form-control form-control-sm">
                                    <button type="submit" class="btn btn-sm btn-border">Search products</button>
                                </form>
                            </div>
                        </div>
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"><input class="form-check-input" type="checkbox" value=""></th>
                                    <th scope="col">Date & Time</th>
                                    <th scope="col">bTrip Post</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Permission</th>
                                    <th scope="col">Trip.Status</th>
                                    <th scope="col">Booking</th>
                                    <th scope="col">P.View</th>
                                    <th scope="col">D.View</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="checkbox"><input class="form-check-input" type="checkbox" value=""></td>
                                    <td class="username w-40">
                                        <a href="#">June 30, 2022 / 8:32:11 AM</a>
                                        <!-- <div class="actions">
                                            <span class="edit"><router-link to="/admin/user-edit">Edit</router-link></span> | 
                                            <span class="view"><a href="#">View</a></span>
                                        </div> -->
                                    </td>
                                    <td class="name title">Chandpur To Dhaka Tk. 4000/=</td>
                                    <td class="destination">Chandpur To Dhaka</td>
                                    <td class="permission">
                                        <button class="btn btn-sm btn-danger">Unpublished</button>
                                        <!-- <button class="btn btn-sm btn-primary">Published</button> -->
                                    </td>
                                    <td class="trip">
                                        <button class="btn disabled btn-sm btn-secondary">Process</button>
                                        <!-- <button class="btn btn-sm btn-primary">Transfer</button>
                                        <button class="btn disabled btn-sm btn-success">Booked</button> -->
                                    </td>
                                    <td class="trip">
                                        <!-- <span class="">Process..</span> -->
                                        <span class="text-warning">Start</span>
                                        <!-- <span class="text-success">Successed</span> -->
                                    </td>
                                    <td>
                                        <span><i class="fa-solid fa-eye"></i></span>
                                        <!-- <span class="disabled"><i class="fa-solid fa-eye-slash"></i></span> -->
                                    </td>
                                    <td>
                                        <span><i class="fa-solid fa-eye"></i></span>
                                    </td>
                                    <td>
                                        <span class="btrip_edit_modal"><i class="fa-solid fa-pen-to-square"></i></span>
                                        <span class="btrip_delete_modal ms-2"><i class="fa-solid fa-xmark"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col"><input class="form-check-input" type="checkbox" value=""></th>
                                    <th scope="col">Date & Time</th>
                                    <th scope="col">bTrip Post</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Permission</th>
                                    <th scope="col">Trip.Status</th>
                                    <th scope="col">Booking</th>
                                    <th scope="col">P.View</th>
                                    <th scope="col">D.View</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="table_nav">
                            <div class="table_action"></div>
                            <div class="table_pagination">
                                <div class="table_count">2 items</div>
                                <!-- <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm">
                                        <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        </li>
                                    </ul>
                                </nav> -->
                            </div>
                        </div>
                    </div> 
                </div>  
                <!-- Main Body Code End -->
            </div>
        </div>
    </div>
</template>