<script>
import moment from 'moment';
import axios from "axios";
import { onMounted, ref } from 'vue'
import DriverViewModal from '@/modules/admin/comps/DriverViewModal.vue';
import PassengerViewModal from '@/modules/admin/comps/PassengerViewModal.vue';
import ReturnPostEditModal from '@/modules/admin/comps/ReturnPostEditModal.vue';

export default {
    components:{ DriverViewModal, PassengerViewModal, ReturnPostEditModal },
    setup() {
        const all_return_post_data = ref([]);
        
        const passenger_data = ref('');
        const passenger_modal = ref(false);
        const driver_data = ref('');
        const driver_modal = ref(false);
        const return_post_data = ref('');
        const create_post_modal = ref(false);

        onMounted(async() => {
            await AllPostData();
        })

        const AllPostData = async() => {
            await axios.get('/sanctum/csrf-cookie');
            const data = await axios.get('/api/btrip/return-post-list');
            all_return_post_data.value = data.data;
        }

        const PassengeriewBtn = async(id) => {
            passenger_modal.value = true;
            
            await axios.get('/sanctum/csrf-cookie');
            const data = await axios.get(`/api/btrip/passenger-view-data/${id}`);
            passenger_data.value = data.data;
        }
        const handleDataFromChild = (data) => {
            passenger_modal.value = data;
        }

        const DriverViewBtn = async(id) => {
            driver_modal.value = true;
            await axios.get('/sanctum/csrf-cookie');
            const data = await axios.get(`/api/btrip/driver-view-data/${id}`);
            driver_data.value = data.data;
        }

        const handleDataFromDriverModal = (data) => {
            driver_modal.value = data;
        }

        const ReturnPostEditBtn = async(id) => {
            return_post_data.value = '';
            await axios.get('/sanctum/csrf-cookie');
            const data = await axios.get(`/api/admin/btrip/return-post-data/${id}`);
            return_post_data.value = data.data;
            create_post_modal.value = true;
        }
        const handlePostUpdateModal = (data) => {
            create_post_modal.value = data;
        }

        const handlePostPublish = async(id,data) => {
            if(data == 'unpublish'){
                await axios.get('/sanctum/csrf-cookie');
                await axios.post(`/api/admin/btrip/post-publish/${id}`);
                await AllPostData();
            }else{
                await axios.get('/sanctum/csrf-cookie');
                await axios.post(`/api/admin/btrip/post-unpublish/${id}`);
                await AllPostData();
            }
        }

        return {
            moment,
            all_return_post_data,
            PassengeriewBtn,
            DriverViewBtn,
            passenger_data,
            passenger_modal,
            handleDataFromChild,
            driver_data,
            driver_modal,
            handleDataFromDriverModal,
            ReturnPostEditBtn,
            return_post_data,
            create_post_modal,
            handlePostUpdateModal,
            AllPostData,
            handlePostPublish,
        }
    },
}
</script>

<template>
    <div class="container-fluid overview_wrapper py-3">        
        <!-- Main Body Code Start -->
        <div class="div_container lists">
            <h2 class="heading">Pages <router-link to="/admin/user-add" class="btn btn-border btn-sm ms-3">Add User</router-link></h2>
            <div class="create_list table-responsive">
                <div class="sorting_search">
                    <ul class="sorting">
                        <li><a href="#">All <span class="count">(2)</span></a></li> | 
                        <li><a href="#">Published <span class="count">(2)</span></a></li>
                    </ul>
                    <div class="search">
                        <form>
                            <input type="text" class="form-control form-control-sm">
                            <button type="submit" class="btn btn-sm btn-border">Search products</button>
                        </form>
                    </div>
                </div>
                <div class="table_nav">
                    <div class="table_action">
                        <form>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="-1">Bulk Actions</option>
                                <option value="delete">Delete</option>
                                <option value="resetpassword">Send password reset</option>
                            </select>
                            <button type="submit" class="btn btn-border btn-sm">Apply</button>
                        </form>
                        <form>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="-1">Change role to…</option>
                                <option value="shop_manager">Shop manager</option>
                                <option value="customer">Customer</option>
                                <option value="subscriber">Subscriber</option>
                                <option value="contributor">Contributor</option>
                                <option value="author">Author</option>
                                <option value="editor">Editor</option>
                                <option value="administrator">Administrator</option>
                                <option value="none">— No role for this site —</option>
                            </select>
                            <button type="submit" class="btn btn-border btn-sm">Filter</button>
                        </form>
                    </div>
                    <div class="table_pagination">
                        <div class="table_count">2 items</div>
                        <!-- <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-sm">
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"><input class="form-check-input" type="checkbox" value=""></th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">bTrip Post</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Permission</th>
                            <th scope="col">Trip.Status</th>
                            <th scope="col">Booking</th>
                            <th scope="col">P.View</th>
                            <th scope="col">D.View</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in all_return_post_data" :key="index">
                            <td class="checkbox"><input class="form-check-input" type="checkbox" value=""></td>
                            <td class="username w-40">
                                <a href="#" v-if="item.booking_status == 1 && item.admin_action == 1" class="text-success">{{ moment(item.created_at).format('LL / LTS') }}</a>
                                <a href="#" v-else-if="item.booking_status == 1" class="text-warning">{{ moment(item.created_at).format('LL / LTS') }}</a>
                                <a href="#" v-else>{{ moment(item.created_at).format('LL / LTS') }}</a>
                                <!-- <div class="actions">
                                    <span class="edit"><router-link to="/admin/user-edit">Edit</router-link></span> | 
                                    <span class="view"><a href="#">View</a></span>
                                </div> -->
                            </td>
                            <td class="name title">{{ item.post_data }}</td>
                            <td class="destination">{{ item.pickup_point }} To {{ item.dropping_point }}</td>
                            <td class="permission">
                                <button class="btn btn-sm btn-danger" v-if="item.status == 1" @click="handlePostPublish(item.id, 'publish')">Unpublished</button>
                                <button class="btn btn-sm btn-primary" v-else @click="handlePostPublish(item.id, 'unpublish')">Published</button>
                            </td>
                            <td class="trip">
                                <button class="btn disabled btn-sm btn-secondary">Process</button>
                                <!-- <button class="btn btn-sm btn-primary">Transfer</button>
                                <button class="btn disabled btn-sm btn-success">Booked</button> -->
                            </td>
                            <td class="trip">
                                <!-- <span class="">Process..</span> -->
                                <span class="text-warning">Start</span>
                                <!-- <span class="text-success">Successed</span> -->
                            </td>
                            <td>
                                <span class="disabled" v-if="item.user_booking_id == NULL"><i class="fa-solid fa-eye-slash"></i></span>
                                <span class="cursor" v-else @click="PassengeriewBtn(item.user_booking_id)"><i class="fa-solid fa-eye"></i></span>
                            </td>
                            <td>
                                <span class="cursor" @click="DriverViewBtn(item.user_post_id)"><i class="fa-solid fa-eye"></i></span>
                            </td>
                            <td>
                                <span class="btrip_edit_modal cursor" @click="ReturnPostEditBtn(item.id)"><i class="fa-solid fa-pen-to-square"></i></span>
                                <span class="btrip_delete_modal ms-2 cursor"><i class="fa-solid fa-xmark"></i></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col"><input class="form-check-input" type="checkbox" value=""></th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">bTrip Post</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Permission</th>
                            <th scope="col">Trip.Status</th>
                            <th scope="col">Booking</th>
                            <th scope="col">P.View</th>
                            <th scope="col">D.View</th>
                            <th scope="col">Action</th>
                        </tr>
                    </tfoot>
                </table>
                <div class="table_nav">
                    <div class="table_action">
                        <form>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="-1">Bulk Actions</option>
                                <option value="delete">Delete</option>
                                <option value="resetpassword">Send password reset</option>
                            </select>
                            <button type="submit" class="btn btn-border btn-sm">Apply</button>
                        </form>
                    </div>
                    <div class="table_pagination">
                        <div class="table_count">2 items</div>
                        <!-- <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-sm">
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
            </div> 
        </div>  
        <!-- Main Body Code End -->

        <passenger-view-modal :passenger_data="passenger_data" :passenger_modal="passenger_modal" @data-to-parent="handleDataFromChild"></passenger-view-modal>
        <driver-view-modal :driver_data="driver_data" :driver_modal="driver_modal" @data-to-parent="handleDataFromDriverModal"></driver-view-modal>
        <return-post-edit-modal v-if="return_post_data" :create_post_modal="create_post_modal" :return_post_data="return_post_data" :AllPostData="AllPostData" @data-to-parent="handlePostUpdateModal"></return-post-edit-modal>
    </div>
</template>
<style>
table tbody td span.cursor {
    cursor: pointer;
}
</style>