


a.btn.btn-border,
button.btn.btn-border {
    border: 1px solid #135e96;
    color: #135e96;
}
button.btn.btn-color {
    background-color: #135e96;
    color: #fff;
    font-size: 13px;
}
.form_text {
    font-size: 14px;
    color: #444;
}
.t_c {
    font-size: 14px;
    color: #777;
}




/* =========================== */
/* All Body Css */
/* .overview_wrapper.n_add {
    height: calc(100% - 50px);
} */
.div_container {
    display: flex;
    gap: 20px;
    /* height: 100%; */
}
.div_container .left {
    flex-basis: 35%;
}
.div_container .right {
    flex-basis: 65%;
}
.div_container .left,
.div_container .right,
.div_container .update {
    background-color: #fff;
    padding: 20px;
}
.div_container .update {
    width: 100%;
}
.div_container .update .form-control,
.div_container .update .form-select {
    width: 35%;
}

/* =========================== */
/* Toaster Message Css */
.toast_success,
.toast_wrong {
	position: absolute;
	right: 20px;
	top: 10px;
}
.toast_success {
	background-color: green;
	color: #fff;
}
.toast_wrong {
	background-color: orange;
	color: #fff;
}
.toast_success button,
.toast_wrong button {
	color: #fff;
}
.toast_success_msg,
.toast_wrong_msg {
	font-weight: 500;
	letter-spacing: 1px;
}

/* =========================== */
/* Add Edit Form Msg */
#addFormMsg,
#editFormMsg {
	color: red;
	text-align: center;
}
#pass_show_hide {
	position: relative;
}
.pass-show-hide {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 14px;
	color: #777;
	cursor: pointer;
}
/* Add/Edit Form */
.div_container .heading {
    font-size: 16px;
    font-weight: 600;
    color: #444;
}
.div_container .add_form label,
.div_container .edit_form label {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}
.div_container .add_form .form_text,
.div_container .edit_form .form_text {
    margin-top: 4px;
    font-size: 13px;
    color: #777;
}
.div_container .add_form .thumbnail,
.div_container .edit_form .thumbnail {
    display: flex;
    align-items: start;
    gap: 16px;
}
.div_container .add_form .thumbnail img,
.div_container .edit_form .thumbnail img {
    width: 60px;
    height: 60px;
}

/* =========================== */
/* List Table Nav */
.div_container.lists {
    display: block;
    background-color: #fff;
    padding: 16px;
}
.div_container.lists .heading {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}
.sorting_search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.sorting_search .sorting_filter,
.sorting_search .sorting_filter form {
    display: flex;
    gap: 12px;
}
.sorting_search .sorting_filter form {
    padding-left: 8px;
}
.sorting_search .sorting_filter form select {
    width: auto;
}
.sorting_search ul.sorting {
    display: flex;
}
.sorting_search ul.sorting li a {
    color: #135e96;
    font-size: 14px;
    margin: 0 4px;
}
.sorting_search ul.sorting li a span {
    color: #444;
}
.sorting_search .search form {
    display: flex;
    gap: 12px;
}
.sorting_search .search form input {
    width: 200px;
}
.sorting_search .search form button {
    display: block;
    padding-left: 6px;
    padding-right: 6px;
}
.create_list .table_nav {
    display: flex;
    justify-content: space-between;
}
.create_list .table_nav .table_action {
    display: flex;
    gap: 12px;
}
.create_list .table_nav form {
    display: flex;
    gap: 12px;
}
.create_list .table_nav form select {
    width: auto;
}
.create_list .table_nav .table_pagination {
    display: flex;
    gap: 20px;
    align-items: center;
}
.create_list .table_nav .table_pagination .table_count {
    font-size: 14px;
    color: #444;
}
/* Table Body Item list */
.create_list .table {
    border: 1px solid #ddd;
    margin: 12px 0;
}
.create_list .table>:not(:first-child) {
    border-top: 1px solid #ccc;
}
.create_list tbody tr {
    height: 60px;
    position: relative;
}
.create_list tr th,
.create_list tr td {
    font-size: 14px;
}
.create_list .form-check-input {
    box-shadow: none;
}
.create_list tbody td.image img {
    width: 40px;
    height: 40px;
}
.create_list tbody td.name {
    width: 25%;
    position: relative;
}
.create_list tbody td.comment_link {
    position: relative;
}
.create_list tbody td.name > a,
.create_list tbody td.username > a,
.create_list tbody td.comment_link > a {
    font-weight: 600;
    color: #444;
}
.create_list tbody td .actions {
    display: none;
    position: absolute;
}
.create_list tbody tr:hover .actions {
    display: block;
}
.create_list tbody td .actions span a {
    font-size: 13px;
    font-weight: 400;
    font-family: monospace;
}
.create_list tbody td p {
    margin-bottom: 0;
}
.create_list tbody td.in_stock {
    color: #76bd1a;
    font-weight: 600;
}
/* Library css */
.library_wrap {
    margin-top: 24px;
}
.img_items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
.img_items .img_item img {
    width: 100%;
}
.create_list .upload_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 4px dashed #ddd;
    padding: 50px;
}
.create_list .upload_section h2 {
    font-size: 20px;
    color: #444;
}
.div_container .upload_flash_bypass,
.div_container .max_upload_size {
    font-size: 14px;
    color: #777;
    margin-top: 8px;
    margin-bottom: 0;
}
.div_container .upload_flash_bypass {
    margin-top: 20px;
}
/* User Css */
.div_container .table_form {
    margin-top: 30px;
}
.div_container .table_form .heading {
    font-size: 17px;
    margin: 30px 0;
}
.div_container .table_form form tbody tr {
    margin-bottom: 20px;
    display: block;
    vertical-align: top;
}
.div_container .table_form form tbody tr th {
    width: 240px;
    font-size: 14px;
    color: #444;
}
.div_container .table_form form tbody tr td .form-check-label {
    color: #444;
    font-size: 14px;
}
.div_container .table_form form tbody tr td input.form-control {
    width: 300px;
}
.div_container .table_form form tbody tr td textarea.form-control {
    width: 400px;
}
.div_container .table_form form tbody tr td .group {
    display: flex;
    column-gap: 12px;
    flex-wrap: wrap;
}
.div_container .table_form form tbody tr td .group .check {
    background-color: #f1df3a;
    text-align: center;
    font-size: 14px;
    border: 1px solid #daa20a;
}
.div_container .table_form form tbody tr td .thumbnail {
    display: flex;
    align-items: start;
    column-gap: 12px;
}
.div_container .table_form form tbody tr td .thumbnail img {
    width: 80px;
    height: 80px;
}
/* Settings css */
.div_container .table_form form tbody tr td fieldset label {
    margin-bottom: 12px;
}
.div_container .table_form form tbody tr td fieldset input[type='radio'] {
    width: 14px;
    height: 14px;
}
.div_container .table_form form tbody tr td fieldset span {
    font-size: 14px;
    color: #777;
    margin-left: 8px;
    min-width: 150px;
    display: inline-block;
}
.div_container .table_form form tbody tr td fieldset code {
    background-color: #ccc;
    padding: 4px;
    display: inline-block;
}
.div_container .table_form form tbody tr td fieldset input.form-control {
    width: 75px;
}
.div_container .table_form .page_setting {
    margin-top: 16px;
}
.div_container .table_form .page_setting li {
    display: flex;
    column-gap: 12px;
    margin-top: 12px;
}
.div_container .table_form .page_setting li span {
    width: 80px;
}
.div_container .table_form .page_setting li select {
    width: auto;
}
.div_container .table_form form tbody tr td .avatar {
    display: flex;
    align-items: center;
    gap: 8px;
}
.div_container .table_form form tbody tr td .avatar span {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 8px;
}
.div_container .table_form form tbody tr td .avatar span img {
    width: 100%;
    height: 100%;
}
/* Setting css */
.div_container .table_form .m_setting {
    display: flex;
    margin-bottom: 12px;
}
.div_container .table_form .m_setting .text {
    width: 120px;
    font-size: 14px;
    color: #444;
}
.div_container .table_form .m_setting input.form-control {
    width: 80px;
}







/* ================================== */
/* Media Image Upload Modal css */
/* Upload files */
#image_uploader .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    max-width: 100%;
}
#image_uploader .modal-content {
    height: 100%;
}
#image_uploader .modal-content .nav-tabs button {
    font-size: 14px;
}
#image_uploader .modal-content .nav-tabs .nav-link {
    color: #444;
}
#image_uploader .modal-content .nav-tabs .nav-link.active {
    color: #222;
}
#image_uploader .modal-content .tab-content {
    height: 100%;
}
#image_uploader .modal-content .tab-pane {
    height: calc(100% - 42px);
}
#image_uploader .modal-content .upload_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#image_uploader .modal-content .upload_section h2 {
    font-size: 20px;
    color: #444;
}
#image_uploader .modal-content .upload_section .max_upload_size {
    font-size: 14px;
    margin-top: 20px;
    color: #777;
}
/* Media Library */
.media_frame {
    display: flex;
    height: 100%;
}
.media_frame .media_wrapper {
    width: calc(100% - 300px);
    padding: 8px 16px;
}
.media_frame .media_filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}
.media_frame .media_filter label {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}
/* Media Img List css */
.meida_list {
    position: relative;
    height: calc(100% - 62px);
    overflow-y: auto;
}
.m_list_wrap {
    position: absolute;
}
.m_img_items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding-right: 10px;
}
.m_img_items .m_img_item img {
    width: 100%;
}
.load_more_wrapper {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
.load_more_wrapper p {
    font-size: 13px;
    color: #777;
}
/* Media Sidebar css */
.media_frame .media_sidebar {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: #f2f2f2;
    overflow-y: auto;
    scrollbar-width: none;
}
.media_frame .media_sidebar:hover {
    scrollbar-width: thin;
}
.media_frame .media_sidebar::-webkit-scrollbar {
	height: 10px;
    width: 10px;
}
.media_frame .media_sidebar::-webkit-scrollbar-thumb {
	background: #b9b9b9;
    -webkit-border-radius: 10px;
	display: none;
}
.media_frame .media_sidebar:hover::-webkit-scrollbar-thumb {
	display: block;
}
.select_img_details {
    padding: 0 6px 0 16px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.select_img_details .s_img_data {
    display: flex;
    column-gap: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    margin-bottom: 16px;
}
.select_img_details .s_img_data .left {
    width: 80px;
}
.select_img_details .s_img_data .right {
    width: calc(100% - 80px);
}
.select_img_details .s_img_data img {
    width: 80px;
    height: 80px;
}
.select_img_details .s_img_data .right p {
    font-size: 13px;
	color: #777;
    margin-bottom: 0;
}
.select_img_details .s_img_data .right p.img_name {
    font-weight: 600;
}
.select_img_details .s_img_data .right button {
    padding: 0;
    font-size: 13px;
    color: rgb(252, 61, 27);
}
.select_img_details > .span {
	display: flex;
    margin-bottom: 12px;
}
.select_img_details label {
	width: 80px;
	font-size: 13px;
	color: #777;
	text-align: end;
	padding-right: 8px;
}
.select_img_details input,
.select_img_details textarea {
    width: calc(100% - 80px);
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 13px;
	letter-spacing: 1px;
	color: #777;
}
.select_img_details .form_text{
    width: calc(100% - 80px);
    font-size: 12px;
    color: #777;
}
.select_img_details input {
	height: 34px;
}
.select_img_details > .span .url_copy button {
	font-size: 12px;
}
