

/* Post/Page/Product css */
.div_container.post {
    display: block;
}
.div_container.post form {
    height: 100%;
}
.div_container.post form .form_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 44px;
    padding: 0 12px;
}
.div_container.post form .form_body {
    display: flex;
    gap: 20px;
    height: calc(100% - 44px);
}
.div_container.post form .left {
    flex-basis: 70%;
}
.div_container.post form .right {
    flex-basis: 30%;
    padding: 0;
    height: 100%;
}
.div_container.post form .left,
.div_container.post form .right {
    background-color: #fff;
}
.div_container.post form .left .top input,
.div_container.post form .left .top textarea {
    border: none;
    outline: none;
    color: #444;
}
.div_container.post form .left .top input {
    font-size: 30px;
    font-weight: 600;
}
.div_container.post form .left .top input::placeholder {
    font-size: 30px;
    font-weight: 600;
    color: #bbb;
}
.div_container.post form .left .top textarea {
    resize: none;
	overflow-y: auto;
	scrollbar-width: none;
}
.div_container.post form .left .top textarea::-webkit-scrollbar {
	overflow-y: auto;
	display: none;
}
.div_container.post form .left .top textarea::placeholder {
    color: #bbb;
}
.div_container.post form .left .bottom {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 12px;
}
.div_container.post form .left .bottom h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 16px;
}
.div_container.post form .left .bottom .page_setting {
    display: flex;
    width: 100%;
}
.div_container.post form .left .bottom .page_setting .see-list {
    width: 25%;
    position: relative;
    z-index: 1;
}
.div_container.post form .left .bottom .page_setting .see-list::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    background-color: #ddd;
    z-index: -1;
}
.div_container.post form .left .bottom .page_setting .tab-content {
    width: 75%;
}
.div_container.post form .left .bottom .nav-pills .nav-link {
    color: #444;
    background-color: #f8f8f8;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-top: -1px;
    text-align: left;
    font-size: 14px;
}
.div_container.post form .left .bottom .nav-pills .nav-link.active {
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: 1px solid transparent;
}
.div_container.post form .left .bottom .page_setting tr:last-child {
    border-bottom: 1px solid transparent;
}
.div_container.post form .left .bottom .page_setting td {
    font-weight: 500;
    color: #444;
}
.div_container.post form .left .bottom .page_setting td select {
    width: auto;
}
.div_container.post form .left .bottom tr td:first-child {
    width: 50%;
    font-size: 14px;
}
.div_container.post form .left .bottom .page_setting td .layout {
    width: 50%;
    height: 80px;
    float: left;
    padding: 4px;
}
.div_container.post form .left .bottom .page_setting td .layout img {
    width: 100%;
    height: 100%;
}
.div_container.post form .left .bottom .page_setting .color_pick {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: fit-content;
}
.div_container.post form .left .bottom .page_setting .color_pick .color {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.div_container.post form .left .bottom .page_setting .color_pick .text {
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
}
/* Post page Sidebar css */
.div_container.post form .right .sidebar {
    position: sticky;
    top: 0; 
}
.div_container.post form .right .sidebar .nav-tabs .nav-link {
    color: #444;
    border: none;
    border-bottom: 3px solid transparent;
}
.div_container.post form .right .sidebar .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}
.div_container.post form .right .sidebar .nav-tabs .nav-link.active {
    color: #135e96;
    border: none;
    border-bottom: 3px solid #135e96;
}
.div_container.post form .right .sidebar .widget {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.div_container.post form .right .sidebar .widget .accordion-button {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #135e96;
    background-color: #fff4f4;
    box-shadow: none;
}
.div_container.post form .right .sidebar .widget .accordion-button.collapsed {
    color: #444;
    background-color: #fff;
}
.div_container.post form .right .sidebar .widget .accordion-button::after {
    width: 14px;
    height: 14px;
    background-size: 14px;
}
.div_container.post form .right .sidebar .widget .accordion-body td {
    font-size: 14px;
    font-weight: 500;
}
.div_container.post form .right .sidebar .widget .accordion-body td:first-child {
    width: 50%;
}
.div_container.post form .right .sidebar .widget .accordion-body button.btn-td {
    border: none;
    outline: none;
    background-color: transparent;
    color: #135e96;
    padding: 4px 12px;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.div_container.post form .right .sidebar .widget .accordion-body button.btn-td:hover {
    border: 1px solid #135e96;
}
.div_container.post form .right .sidebar .widget .accordion-body label {
    font-weight: 500;
}
.div_container.post form .right .sidebar .widget .accordion-body h5 {
    font-size: 12px;
    font-weight: 600;
    color: #444;
}
.div_container.post form .right .sidebar .widget .accordion-body a.link {
    font-size: 14px;
    text-decoration: underline;
}
.div_container.post form .right .sidebar .widget .accordion-body img {
    width: 100%;
    height: 80px;
    cursor: pointer;
}
.div_container.post form .right .sidebar .widget .accordion-body span.cat_add {
    font-size: 14px;
    color: #135e96;
    text-decoration: underline;
    cursor: pointer;
}
.div_container.post form .right .sidebar .block {
    border-bottom: 1px solid #ddd;
    position: relative;
}
.div_container.post form .right .sidebar .block .content {
    padding: 12px 20px;
}
.div_container.post form .right .sidebar .block:first-child .content {
    display: flex;
    gap: 12px;
}
.div_container.post form .right .sidebar .block:first-child .content i {
    margin-top: 2px;
}
.div_container.post form .right .sidebar .block:first-child .content .text h5 {
    font-size: 14px;
    color: #444;
    font-weight: 600;
}
.div_container.post form .right .sidebar .block .content .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.div_container.post form .right .sidebar .block .content .title h5 {
    font-size: 14px;
    font-weight: 600;
}
.div_container.post form .right .sidebar .block .content .title button {
    border: none;
    outline: none;
    padding: 4px 12px;
    background-color: transparent;
}
.div_container.post form .right .sidebar .block .content .text .txt_clr_add,
.div_container.post form .right .sidebar .block .content .text .bg_clr_add {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ddd;
    padding: 12px 20px;
    color: #444;
    font-size: 14px;
    cursor: pointer;
}
.div_container.post form .right .sidebar .block .content .text .txt_clr_add {
    margin-bottom: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.div_container.post form .right .sidebar .block .content .text .bg_clr_add {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.div_container.post form .right .sidebar .block .content .text .txt_clr_add .color,
.div_container.post form .right .sidebar .block .content .text .bg_clr_add .color {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(-45deg,transparent 48%,#ddd 0,#ddd 52%,transparent 0);
}
.div_container.post form .right .sidebar .block .content .text .txt_size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.div_container.post form .right .sidebar .block .content .text .txt_size .txt_size_add {
    cursor: pointer;
    padding: 4px;
    display: block;
}
.div_container.post form .right .sidebar .block .content .text .txt_size_list {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
}
.div_container.post form .right .sidebar .block .content .text .txt_size_list li {
    background-color: #f8f8f8;
    padding: 4px 20px;
    color: #444;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease 0s; 
    -webkit-transition: all 0.5s ease 0s; 
}
.div_container.post form .right .sidebar .block .content .text .txt_size_list li.active {
    background-color: #135e96;
    color: #fff;
}
.div_container.post form .right .sidebar .block .accordion-button {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #135e96;
    background-color: #fff4f4;
    box-shadow: none;
}
.div_container.post form .right .sidebar .block .accordion-button.collapsed {
    color: #444;
    background-color: #fff;
}
.div_container.post form .right .sidebar .block .accordion-button::after {
    width: 14px;
    height: 14px;
    background-size: 14px;
}
.div_container.post form .right .sidebar .block .color_picker {
    position: absolute;
    width: 250px;
    top: 0;
    left: calc(-100% + 85px);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    padding: 12px 16px;
    border-radius: 4px;
}
.div_container.post form .right .sidebar .block .color_picker ul.list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 10px;
}
.div_container.post form .right .sidebar .block .color_picker ul.list li {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    justify-self: center;
}