@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	margin: 0;
	height: 100%;
	font-family: 'Lato', sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	cursor: pointer;
}
p {
	margin-bottom: 0;
}
.bg_blue_d {
    background-color: #2980b9;
}
.bg_blue_l {
    background-color: #3498db;
}
.c_p {
    cursor: pointer;
}
.form-select:focus,.form-control:focus {
	color: #2868a5;
	box-shadow: none;
}
button:focus:not(:focus-visible) {
	box-shadow: none;
}
#backend_apps {
    height: 100%;
}
#main_page {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
	display: flex;
}
/* =========================== */
/* sidebar css */
#main_page .main_sidebar {
	position: relative;
	width: 200px;
	height: 100%;
	background-color: #303641;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
#main_page.slide_sidebar .main_sidebar {
	position: relative;
	width: 50px;
	height: 100%;
	background-color: #303641;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
ul.sidebar_menu {
    overflow-y: auto;
    height: calc(100% - 50px);
	scrollbar-width: none;
}
ul.sidebar_menu::-webkit-scrollbar {
    display: none;
}
.main_header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #252729;
	position: sticky;
    top: 0;
    z-index: 1;
}
#main_page.slide_sidebar .main_header {
	justify-content: center;
}
.main_header > .logo {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	padding: 0 15px;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	font-family: cursive;
}
#main_page.slide_sidebar .main_header > .logo {
	display: none;
}
.main_header > #sidebar_toggle {
	padding: 15px;
	color: #fff;
}
.sidebar_menu > li {
	position: relative;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.sidebar_menu > li > a {
	font-size: 13px;
	display: flex;
	flex-wrap: nowrap;
	color: #b8c7ce;
	padding: 10px 15px;
	background-color: #303641;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.sidebar_menu > li:hover > a {
	color: #fff;
	background-color: #363c47;
}
.sidebar_menu > li > a.router-link-active {
	background-color: #363c47;
}
.sidebar_menu > li > a > i {
    line-height: 16px;
    width: 30px;
    font-size: 16px;
    text-align: center;
}
.sidebar_menu > li > a > span {
	display: block;
	overflow: hidden;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
#main_page.slide_sidebar .sidebar_menu > li > a > span {
	display: none;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
/* Submenu */
#main_page .sidebar_menu > li > ul {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
#main_page .sidebar_menu > li.treeview.active > ul {
	background-color: #222;
	display: block;
	max-height: 100%;
}
#main_page .sidebar_menu > li.treeview > ul > li > a {
	font-size: 13px;
	color: #b8c7ce;
	padding: 8px 30px;
	display: block;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
#main_page .sidebar_menu > li.treeview > ul > li:hover > a {
	color: #fff;
	background-color: #24272c;
}
#main_page .sidebar_menu > li.treeview > ul > li > a.router-link-active {
	background-color: #24272c;
}
#main_page .sidebar_menu > li.treeview > ul > li > a > i {
	font-size: 12px;
	padding: 0 4px;
}
#main_page .sidebar_menu > li.treeview > ul > li > a > span {
	margin-left: 4px;
}
.sidebar_menu > li a {
	position: relative;
}
.sidebar_menu > li a em {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: tomato;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 8px;
	color: #fff;
}
/* Slide sidebar Submenu */
#main_page.slide_sidebar .sidebar_menu > li > ul {
	position: absolute;
	background-color: #222;
	display: none!important;
	left: 0;
	top: 0;
	max-height: initial!important;
	overflow: initial!important;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
#main_page.slide_sidebar .sidebar_menu > li:hover > ul {
	position: absolute;
	background-color: #222;
	display: block!important;
	left: 100%;
	top: 0;
	max-height: initial!important;
	overflow: initial!important;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#main_page.slide_sidebar .sidebar_menu > li > ul > li > a {
	display: flex;
	align-items: center;
	padding: 12px 20px;
}
/* =========================== */
/* Header Css */
.wrapper {
	background-color: #f1f3f7;;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}
.wrapper .content_wrapper {
	height: 100%;
}
.main_navbar {
	background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
	height: 50px;
}
.main_navbar .navbar {
	height: 50px;
}
.main_navbar .navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.main_navbar .navbar ul > li > a {
	font-size: 16px;
	color: #737881;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.main_navbar .navbar ul > li:hover > a {
	color: #444;
}
.main_navbar .navbar ul > li > a > i {
	margin-right: 6px;
}
.admin_account {
    position: relative;
}
.admin_account a > i {
	font-size: 20px;
}
.admin_account > ul {
    position: absolute;
    background-color: #ddd;
    right: 0;
    top: 30px;
    flex-direction: column;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	visibility: hidden;
	opacity: 0;
}
.admin_account > ul::after {
    position: absolute;
    content: '';
    top: -9px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
}
.admin_account:hover ul {
	visibility: visible;
	opacity: 1;
}
.admin_account > ul > li {
	width: 100%;
	text-align: center;
}
.admin_account > ul > li > a {
    display: block;
    padding: 2px 4px;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.admin_account > ul > li:hover a {
	background-color: #ccc;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* =========================== */
/* Body Css */
.single-grid {
	background-color: #fff;
	color: #fff;
	border-radius: 4px;
	box-shadow: 1px 5px 10px rgba(0,0,0,.04);
	margin: 10px 0;
	padding: 12px 20px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.single-grid:hover {
	transform: translateY(-6px);
}
.single-grid h4 {
	font-size: 22px;
	margin-bottom: 24px;
	margin-top: 8px;
}
.single-grid h5 {
	font-size: 14px;
}
.single-grid a {
	padding: 18px;
	display: block;
}
.single-grid i {
	font-size: 24px;
}
.single-grid .count span {
	font-size: 18px;
	float: right;
}
.single-grid.grid-1 {
	background: linear-gradient(90deg,rgb(217, 121, 255), rgb(227, 172, 248));
}
.single-grid.grid-2 {
	background: linear-gradient(90deg,rgb(88, 211, 174), rgb(128, 221, 175));
}
.single-grid.grid-3 {
	background: linear-gradient(90deg,rgb(146, 121, 255), rgb(187, 194, 253));
}
.single-grid.grid-4 {
	background: linear-gradient(90deg,rgb(204, 191, 116), rgb(183, 212, 155));
}
.single-grid.grid-1 i {
	color: #1abc9c;
}
.single-grid.grid-2 i {
	color: #9b59b6;
}
.single-grid.grid-3 i {
	color: #3498db;
}
.single-grid.grid-4 i {
	color: #e74c3c;
}
table thead tr th,
table tbody tr td {
	font-size: 14px;
}
/* =========================== */
/* Footer Css */
.main_footer {
	background-color: #fff;
	height: 50px;
    display: flex;
    align-items: center;
}
#main_page.slide_sidebar.f_fixed .main_footer {
	width: calc(100% - 50px);
	position: fixed;
	bottom: 0;
}
#main_page.f_fixed .main_footer {
	width: calc(100% - 185px);
	position: fixed;
	bottom: 0;
}
.main_footer p {
	padding: 12px 0;
	color: #777;
	margin: 0;
	width: 100%;
}














/* Gallery css */
.upload-media-div {
	position: relative;
}
.upload-images {
	background-color: #fff;
	border: 2px dashed #ddd;
}
.upload-images .upload_click {
	font-size: 18px;
	height: 216px;
	color: #777;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.upload-media-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	flex-wrap: wrap;
	padding: 10px
}
.upload-media-list > li {
	width: 132px;
	padding: 6px;
	height: 100px;
}
.upload-media-list > li > span {
	position: relative;
	height: 100%;
	width: 100%;
	display: inline-block;
	border-radius: 4px;
	pointer-events: all;
}
.upload-media-list > li > span > img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.upload-media-list > li > span > .upload-progress,
.upload-media-list > li > span > .upload-msg,
.upload-media-list > li > span > .img-details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	cursor: default;
	transition: all 0all 0.2s ease 0s;
	-webkit-transition: all 0all 0.2s ease 0s;
}
.upload-media-list > li > span > .img-details {
	background-color: rgba(0,0,0,0.3);
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
}
.upload-media-list > li > span:hover > .img-details {
	visibility: visible;
	opacity: 1;
}
.upload-media-list > li > span > .img-details,
.upload-media-list > li > span > .upload-progress {
	color: #fff;
}
.upload-media-list > li > span > .img-details > .img-name {
	font-size: 12px;
}
.upload-media-list > li > span > .upload-progress > .progress {
	width: 80%;
	height: 15px;
	background-color: rgb(155, 155, 155);
	border-radius: 10px;
	position: relative;
}
.upload-media-list > li > span > .upload-progress > .progress > span {
	position: absolute;
	height: 15px;
	background-color: rgb(67, 98, 198);
	border-radius: 10px;
	text-align: center;
	font-size: 11;
	line-height: 15px;
}
