<template>
    <main-header></main-header>
    <router-view></router-view>
    <main-footer></main-footer>
</template>
<script>
import MainHeader from "@/modules/views/layouts/MainHeader.vue";
import MainFooter from "@/modules/views/layouts/MainFooter.vue";

export default {
    components: { MainHeader, MainFooter },
    setup(){

    }
}
</script>