<template>
    <div class="signin-form">
        <div class="card shadow rounded">
            <form @submit.prevent="handleAdminLogin">
                <div class="card-header text-center py-2">
                    <h4><b>Sign-In</b></h4>
                </div>
                <div class="card-body p-3">
                    <p class="mb-2 text-danger">{{ error_msg }}</p>
                    <div class="mb-3">
                        <label for="">Email</label>
                        <input type="email" v-model="email" class="form-control">
                    </div>
                    <div class="">
                        <label for="">Password</label>
                        <input type="password" v-model="password" class="form-control">
                    </div>
                </div>
                <div class="card-footer text-center py-2">
                    <button type="sumit" class="btn btn-secondary px-3 py-1">Sign-In</button>
                    <!-- <button v-if="isLoading == true" class="btn btn-secondary px-3 py-1"><div class="spinner-border spinner-border-sm" role="status"></div></button> -->
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import AdminAuthSotre from "@/store/admin/AdminAuthSotre.js";
export default {
    setup() {
        const { email, password, error_msg, handleAdminLogin } = AdminAuthSotre();

        return {
            email:email(),
            password:password(),
            error_msg:error_msg(),
            handleAdminLogin,
        }
    },
}
</script>
<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
.signin-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-form > .card {
    width: 400px;
    max-width: 95%;
}
.signin-form > .card label {
    font-weight: 600;
    margin-bottom: 4px;
    color: #444;
}
.signin-form > .card input {
    padding: 0 12px;
    height: 30px;
}
.card-header h6 {
    color: red;
}
</style>
