@media only screen and (max-width: 991px) {
    .wallet_file_upload {
        
        column-gap: 20px;
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {
    #app {
        background-image: url('../../images/default/BG_Tablet.png');
    }
    header.header {
        padding: 24px 0;
    }
    #app nav.destop_nav {
        display: none;
    }
    header.header nav.mobile_nav {
        display: flex;
    }
    #app nav.mobile_nav .nav_toggle {
        width: 20px;
        height: 2px;
        background-color: var(--black-color);
        display: block;
        position: relative;
    }
    #app nav.mobile_nav .nav_toggle::before,
    #app nav.mobile_nav .nav_toggle::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        background-color: var(--black-color);
        left: 0;
    }
    #app nav.mobile_nav .nav_toggle::before {
        top: -6px;
    }
    #app nav.mobile_nav .nav_toggle::after {
        bottom: -6px;
    }
    #app nav.mobile_nav .nav_toggle .nav_toggle_btn {
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: -9px;
    }
    #app nav.mobile_nav .nav_slide .nav_items {
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 0;
        height: 100%;
        top: 0;
        padding: 16px 0;
        overflow: hidden;
        z-index: 102;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
    }
    #app nav.mobile_nav .nav_slide .nav_items.slide_active {
        padding: 16px;
        width: 240px;
        visibility: visible;
        opacity: 1;
    }
    #app nav.mobile_nav .nav_slide .slide_close {
        position: relative;
        display: flex;
        height: 50px;
    }
    #app nav.mobile_nav .nav_slide .slide_close i {
        position: absolute;
        right: 0;
        font-size: 24px;
        color: var(--active-color);
        padding: 4px;
    }
    #app nav.mobile_nav .nav_slide .slide_close > span {
        font-weight: 600;
        font-size: 20px;
    }
    #app nav.mobile_nav .nav_slide .nav_items li a {
        padding: 6px;
        color: var(--black-color);
        display: block;
        font-weight: 600;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
    #app nav.mobile_nav .nav_slide .nav_items li a:hover {
        color: var(--hover-color);
    }
    #app nav.mobile_nav .nav_slide .nav_items li a.active {
        color: var(--active-color);
    }
    #app nav.mobile_nav .logo {
        width: 100px;
    }
    #app nav.mobile_nav .logo img {
        max-width: 100%;
    }
    #app nav.mobile_nav .user_account li a.active {
        background-color: var(--btn-color);
        color: var(--white-color);
        border-radius: 20px;
        padding: 6px 20px;
        font-weight: 600;
    }

    #app nav.mobile_nav .user_account .user {
        display: flex;
        column-gap: 12px;
        align-items: center;
        cursor: pointer;
    }
    #app nav.mobile_nav .user_account .user .content {
        text-align: right;
        line-height: 20px;
    }
    #app nav.mobile_nav .user_account .user .name {
        font-weight: 600;
    }
    #app nav.mobile_nav .user_account .user .designation {
        font-size: 14px;
        color: var(--paragraph-color);
    }
    #app nav.mobile_nav .user_account .user .avatar {
        width: 40px;
        height: 40px;
        border: 2px solid var(--active-color);
        border-radius: 50%;
        position: relative;
    }
    #app nav.mobile_nav .user_account .user .avatar img {
        max-width: 100%;
    }
    #app nav.mobile_nav .user_account .user .avatar .noti {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #e44821;
        border-radius: 50%;
        left: -10px;
        top: -10px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
    }
    #app nav.mobile_nav .user_account .setting {
        position: absolute;
        top: 70px;
        right: 50px;
        width: 200px;
        box-shadow: 0 2px 10px -6px rgb(0 0 0 / 50%);
        background-color: var(--white-color);
        display: none;
        z-index: 1;
    }
    #app nav.mobile_nav .user_account .setting::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: -10px;
        z-index: -1;
    }
    #app nav.mobile_nav .user_account:hover .setting {
        display: block;
    }
    #app nav.mobile_nav .user_account .setting ul {
        display: flex;
        flex-direction: column;
    }
    #app nav.mobile_nav .user_account .setting li a {
        display: block;
        color: var(--menu-font-color);
        padding: 4px 12px;
        font-size: 14px;
        font-weight: 600;
    }
    #app nav.mobile_nav .user_account .setting li a:hover {
        background-color: var(--hover-color);
        color: var(--white-color);
    }

    /* Banner Css */
    section.top_banner {
        padding: 40px 0;
    }
    section.top_banner .mobile_login {
        display: block;
        padding-top: 100px;
    }
    section.top_banner .mobile_login .login > a.continue,
    section.top_banner .mobile_login .login > button {
        width: 100%;
        display: block;
        background: var(--gradient-btn);
        color: var(--white-color);
        text-align: center;
        padding: 8px;
        border-radius: 12px;
        margin-bottom: 16px;
        font-weight: 600;
    }
    section.top_banner .mobile_login .login .without {
        padding-top: 44px;
    }
    section.top_banner .mobile_login .login .without {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    section.top_banner .mobile_login .login .without .google, 
    section.top_banner .mobile_login .login .without .facebook {
        box-shadow: 0 4px 16px -4px rgb(0 0 0 / 75%) inset;
        border-radius: 30px;
    }
    section.top_banner .mobile_login .login .without button img {
        width: 20px;
    }
    section.top_banner .mobile_login .login .without button span {
        padding-left: 12px;
        font-weight: 600;
        color: var(--active-color);
    }
    section.top_banner .mobile_login h5 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
    }
    section.top_banner .mobile_login .skip {
        text-align: center;
        font-size: 18px;
        color: var(--active-color);
        font-weight: 600;
    }

    /* Services Css */
    section.services {
        display: block;
        padding-bottom: 40px;
    }
    section.services.hide {
        display: none;
    }
    section.services .container-fluid .row {
        padding: 0 12%;
    }
    section.services .banner {
        display: grid;
        grid-template-columns: 1fr 135px;
        column-gap: 20px;
        padding-top: 70px;
    }
    section.services .banner h4 {
        font-size: 19px;
    }
    section.services .banner img {
        max-width: 100%;
    }
    section.services .single_service {
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        border-radius: 8px;
        padding: 16px 12px;
        margin-top: 50px;
    }
    section.services .single_service .icon {
        width: 60px;
        height: 60px;
        margin: auto;
    }
    section.services .single_service .icon img {
        max-width: 100%;
        max-height: 100%;
    }
    section.services .single_service .content {
        text-align: center;
        margin-top: 12px;
    }
    section.services .single_service .content h4 {
        font-size: 18px;
        font-weight: 600;
        max-width: 80px;
        margin: auto;
        color: var(--active-color);
    }

    /* Main Body Css */
    .wrapper .left_sidebar,
    .wrapper .right_sidebar {
        visibility: hidden;
        overflow: hidden;
        width: 0!important;
    }
    .wrapper .right_sidebar.rentcar,
    .wrapper .right_sidebar.car_sell {
        position: fixed;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #fff;
        visibility: hidden;
        overflow: hidden;
        z-index: 102;
        transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
    }
    .wrapper .right_sidebar.rentcar.active,
    .wrapper .right_sidebar.car_sell.active {
        width: 240px!important;
        visibility: visible;
        opacity: 1;
    }
    .wrapper .right_sidebar.rentcar.active .sidebar,
    .wrapper .right_sidebar.car_sell.active .sidebar {
        padding: 20px 16px;
        height: 100%;
        overflow-y: auto;
    }
    /* Middle */
    .main_wrap {
        padding-top: 0;
    }
    .main_wrap._m {
        display: none;
    }
    .main_wrap .wrapper .middle {
        width: 100%;
    }
    .main_wrap .wrapper.return_trip .middle {
        display: none;
    }
    .main_wrap .wrapper.return_trip .middle.show {
        display: block;
    }
    .middle_content .search_create {
        display: block;
    }
    .middle_content .search_create .create_post {
        margin-top: 12px;
    }
    /* Story Css */
    .middle_content .story {
        column-gap: 10px;
        grid-auto-rows: auto;
        margin-top: 20px;
    }
    .middle_content .story .item .content h4 {
        font-size: 13px;
    }
    .middle_content .story .item .content p {
        margin-bottom: 4px;
    }
    /* Destop Create Post Css */
    .middle_content .destop_create_post {
        display: none;
    }
    /* Post Css */
    .btrip_post .posts .post .footer {
        padding: 12px 16px;
        justify-content: space-between;
    }
    .btrip_post .posts .post .footer .like, 
    .btrip_post .posts .post .footer .comment {
        width: 16px;
        height: 16px;
        column-gap: 6px;
        align-items: center;
        font-size: 13px;
    }
    .btrip_post .posts .post .footer .booking a {
        color: var(--white-color);
        padding: 4px 12px;
        font-size: 13px;
    }

    /* Login Register Form Css */
    .wrapper .lr_form {
        margin-top: 140px;
    }
    .wrapper .register_form form .left_right {
        display: block;
    }
    .wrapper .register_form form .left_right .left, 
    .wrapper .register_form form .left_right .right {
        width: 100%;
    }

    /* bTrip Booking Css */
    .wrapper .booking_pay .body {
        padding: 0 30px;
    }
    .wrapper .booking_pay .body .location {
        padding-top: 40px;
    }
    .wrapper .booking_pay .body .location .left p, 
    .wrapper .booking_pay .body .location .right p {
        font-size: 14px;
    }
    .wrapper .booking_pay .body .location .route_way {
        font-size: 13px;
    }
    .wrapper .booking_pay .body .details {
        display: block;
    }
    .wrapper .booking_pay .body .details .right {
        text-align: left;
        margin-top: 20px;
    }
    /* Rent a Car Page Css */
    .wrapper.rent_a_car,
    .wrapper.carsell {
        padding-top: 40px;
        column-gap: 0;
    }
    .middle_content .rentcar_filter,
    .middle_content .car_sell_filter {
        display: flex;
    }
    /* My Wallet Page CSs */
    .wrapper.driving_wallet {
        padding-top: 40px;
    }
    .my_wallet {
        width: 100%;
    }
    .wallet_file_upload {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        width: 100%;
    }
    .wallet_file_upload .car_info_item {
        max-width: 400px;
        margin: auto;
        margin-bottom: 8px;
    }
    .wallet_file_upload .car_info_item .icon {
        max-width: 400px;
    }
    /* Product Details Page Css */
    .wrapper .product_details {
        display: block;
        width: 100%;
    }
    .wrapper .product_details .left {
        width: 100%;
        max-height: 500px;
    }
    .wrapper .product_details .left .pdt_img {
        height: 380px;
    }
    .wrapper .product_details .right {
        width: 100%;
        padding-top: 40px;
    }

    /* Dashboard page Css */
    .dashboard_data > .header .right .driver_passenger {
        width: 100%;
    }
}



@media only screen and (max-width: 575px) {
    #app {
        background-image: url('../../images/default/BG_Mobile.png');
    }
    #app .container-fluid {
        padding: 0 30px;
    }
    #app nav.mobile_nav .user_account .setting {
        right: 30px;
    }
    /* Header Css */
    header.header {
        /* background-image: url('../../images/default/BG_Mobile.png'); */
    }
    /* Banner Css */
    .top_banner .content h1 {
        font-size: 28px;
    }
    /* Dashboard page Css */
    .dashboard_data > .header {
        grid-template-columns: none;
        row-gap: 12px;
    }
    .dashboard_data .trip_booking_details {
        grid-template-columns: 1fr;
    }
    .dashboard_data .trip_booking_details .right {
        text-align: left;
        padding-top: 20px;
    }

    /* Return Trip Css */
    .main_wrap .wrapper {
        column-gap: 0;
    }

    /* My Wallet Css */
    .wallet_file_upload .car_info_item .text {
        font-size: 14px;
    }
    .wallet_file_upload .car_info_item .icon {
        min-height: 90px;
    }
}
@media only screen and (max-width: 460px) {
    #app .container-fluid {
        padding: 0 20px;
    }
    #app nav.mobile_nav .user_account li a.active {
        padding: 6px 16px;
        font-size: 14px;
    }
    #app nav.mobile_nav .user_account .setting {
        right: 20px;
    }
    /* Middle Css */
    .middle_content .search_create {
        grid-template-columns: 1fr 90px;
    }
    .middle_content .search_create .create_post button {
        font-size: 12px;
        padding: 4px 12px;
    }
}
@media only screen and (max-width: 360px) {
    /* Banner Css */
    .top_banner .content h1 {
        max-width: 260px;
        font-size: 24px;
        text-align: left;
    }
}
@media only screen and (max-width: 320px) {
    /* Banner Css */
    .top_banner .content h1 {
        max-width: 220px;
        font-size: 17px;
    }
}


