* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --site-overly: #00000080;
	--heading-color: #444444;
    --paragraph-color: #777777;
    --menu-font-color:#000000;
	--white-color: #ffffff;
	--story-color: #d4d4d4;
	--black-color: #000000;
    --btn-color: #29abe2;
    --hover-color: #0791cc;
    --active-color: #29abe2;
    --border-color: #dddddd;
	--box-shadow: 0 2px 4px rgba(0, 0, 0, .075);
    --gradient-btn: linear-gradient(60deg, #23bde3, #366eb7);
    --hover-gradient-btn: linear-gradient(60deg, #1fa8ca, #2c5d9e);
    --gradient-btn-booked: linear-gradient(60deg, #5cc569, #366eb7);
	--facebook-bg-color: #3B5998;
	--google-bg-color: #4285F4;
    --heading-font: "Montserrat",sans-serif;
    --body-font: "Poppins",sans-serif;
}
html, body {
    height: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#frontend_apps {
    height: 100%;
    width: 100%;
}
#apps {
    background-image: url('../../images/default/BG_Desktop.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    max-width: 100%;
    position: relative;
}
#apps .container-fluid {
    padding: 0 50px;
}

/* ======================================== */
/* Preloader css */
#preloader {
    background: #ecf0f1;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
#preloader .img {
    height: 100vh;
    width: 100%;
    background: url('../../images/frontend/Return Trip Icon.png') no-repeat center center;
    background-size: 100px;
    -webkit-animation: preloader_popup .3s;
    animation: preloader_popup .3s;
}
@-webkit-keyframes preloader_popup{
    0%{
        transform:scale(.5)
    }
    45%{
        transform:scale(1.05)
    }
    80%{
        transform:scale(.95)
    }
    100%{
        transform:scale(1)
    }
}
@keyframes preloader_popup{
    0%{
        transform:scale(.5)
    }
    45%{
        transform:scale(1.05)
    }
    80%{
        transform:scale(.95)
    }
    100%{
        transform:scale(1)
    }
}



/* ======================================== */
/* Nav Css */
header.header {
    /* background-image: url('../../images/default/BG_Desktop.png'); */
    padding: 16px 0;
    /* position: sticky;
    top: 0; */
    /* overflow: hidden; */
    z-index: 999;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}
header.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.header nav.mobile_nav {
    display: none;
}
header.header nav.destop_nav .logo {
    width: 140px;
}
header.header nav.destop_nav .logo img {
    max-width: 100%;
}
header.header nav.destop_nav ul {
    display: flex;
}
header.header nav.destop_nav .nav_items li a {
    padding: 4px;
    margin: 0 12px;
    color: var(--menu-font-color);
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    position: relative;
}
header.header nav.destop_nav .nav_items li a:hover::after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 50%;
    width: 10px;
    height: 4px;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: var(--active-color);
}
header.header nav.destop_nav .nav_items li a.active::after,
header.header nav.destop_nav .nav_items li a.router-link-active::after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 50%;
    width: 10px;
    height: 4px;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: var(--active-color);
}
header.header nav.destop_nav .user_account {
    position: relative;
}
header.header nav.destop_nav .user_account > ul li a {
    padding: 6px 12px;
    color: var(--menu-font-color);
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}  
/* header.header nav.destop_nav .user_account li a:hover {
    background-color: var(--active-color);
    color: var(--white-color);
}  */
header.header nav.destop_nav .user_account li a.router-link-exact-active {
    background: var(--gradient-btn);
    color: var(--white-color);
} 
header.header nav.destop_nav .user_account .user {
    display: flex;
    column-gap: 12px;
    align-items: center;
    cursor: pointer;
}
header.header nav.destop_nav .user_account .user .content {
    text-align: right;
    line-height: 20px;
}
header.header nav.destop_nav .user_account .user .name {
    font-weight: 600;
}
header.header nav.destop_nav .user_account .user .designation {
    font-size: 14px;
    color: var(--paragraph-color);
}
header.header nav.destop_nav .user_account .user .avatar {
    position: relative;
}
header.header nav.destop_nav .user_account .user .avatar .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--active-color);
    overflow: hidden;
}
header.header nav.destop_nav .user_account .user .avatar img {
    max-width: 100%;
}
header.header nav.destop_nav .user_account .user .avatar .noti {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e44821;
    border-radius: 50%;
    left: -10px;
    top: -10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}
header.header nav.destop_nav .user_account .setting {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    box-shadow: 0 2px 10px -6px rgb(0 0 0 / 50%);
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}
header.header nav.destop_nav .user_account .setting::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -10px;
    z-index: -1;
}
header.header nav.destop_nav .user_account:hover .setting {
    display: block;
}
header.header nav.destop_nav .user_account .setting ul {
    display: flex;
    flex-direction: column;
}
header.header nav.destop_nav .user_account .setting li a {
    display: block;
    color: var(--menu-font-color);
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 600;
}
header.header nav.destop_nav .user_account .setting li a:hover {
    background-color: var(--hover-color);
    color: var(--white-color);
}

/* ======================================== */
/* Banner Css */
section.top_banner .banner_img {
    max-width: 80%;
    margin: auto;
}
section.top_banner .banner_img img {
    max-width: 100%;
}
section.top_banner .content h1 {
    max-width: 400px;
    margin: auto;
    text-align: center;
    color: var(--active-color);
    font-size: 32px;
    margin-top: 20px;
}
section.top_banner .mobile_login {
    display: none;
}
/* Services Css */
section.services {
    display: none;
}

/* Main Body css */
.main_wrap {
    padding-top: 40px;
    position: relative;
}
.main_wrap .wrapper {
    display: flex;
    column-gap: 30px;
    position: relative;
}
.main_wrap .wrapper .left_sidebar,
.main_wrap .wrapper .right_sidebar {
    width: 25%;
    position: relative;
}
.main_wrap .wrapper .left_sidebar .sidebar,
.main_wrap .wrapper .right_sidebar .sidebar {
    position: sticky;
    top: 16px;
}
.main_wrap .wrapper .middle {
    width: 50%;
}

/* Left Sidebar Css */
.left_sidebar .sidebar .welcome {
    margin-bottom: 30px;
}
.left_sidebar .sidebar .welcome h2 {
    color: var(--heading-color);
}
.left_sidebar .sidebar .welcome p {
    color: var(--paragraph-color);
}
.left_sidebar .sidebar .driver_passenger {
    background-color: var(--btn-color);
    display: flex;
    justify-content: space-around;
    padding: 6px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.left_sidebar .sidebar .driver_passenger .btn {
    border: none;
    outline: none;
    width: 50%;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.left_sidebar .sidebar .driver_passenger .btn.active {
    background-color: var(--white-color);
    color: var(--active-color);
}
.left_sidebar .sidebar .services li a {
    font-weight: 600;
    color: var(--heading-color);
    padding: 8px 0;
    display: block;
    position: relative;
    padding-left: 50px;
    font-size: 14px;
}
.left_sidebar .sidebar .services li a::before {
    position: absolute;
    content: '';
    background-image: url('../../images/frontend/Service_Icon.png');
    height: 24px;
    width: 24px;
    left: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}
.left_sidebar .sidebar .services li.active a,
.left_sidebar .sidebar .services li a.router-link-exact-active {
    background: var(--gradient-btn);
    color: var(--white-color);
    border-radius: 12px;
}
.left_sidebar .sidebar .services li.active a::before,
.left_sidebar .sidebar .services li a.router-link-exact-active::before {
    background-image: url('../../images/frontend/Service_Icon_Active.png');
}
.left_sidebar .sidebar .services li.active a:hover,
.left_sidebar .sidebar .services li a.router-link-exact-active:hover {
    background: var(--hover-gradient-btn);
}
.left_sidebar .sidebar .ads {
    width: 100%;
}
.left_sidebar .sidebar .ads img {
    width: 100%;
    margin-top: 40px;
}
/* *************** */
/* Middle Css */
.middle_content .search_create {
    display: flex;
    column-gap: 12px;
    display: none;
}
.middle_content .search_create .post_search form {
    display: block;
}
.middle_content .search_create .post_search form input,
.middle_content .search_create .post_search form select {
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
    border-radius: 30px;
    margin-bottom: 8px;
    padding: 6px 12px;
}
.middle_content .search_create .post_search form input:focus,
.middle_content .search_create .post_search form select:focus {
    box-shadow: none;
    color: var(--active-color);
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
}
.middle_content .search_create .post_search form button {
    border: none;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    width: 100%;
    padding: 6px;
    color: var(--active-color);
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
}
.middle_content .search_create .post_search .group {
    position: relative;
    width: 48%;
    float: left;
}
.middle_content .search_create .post_search .group:nth-child(1) {
    margin-right: 2%;
}
.middle_content .search_create .post_search .group:nth-child(2) {
    margin-left: 2%;
}
.middle_content .search_create .post_search .group .items {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .15);
    top: 34px;
    width: 100%;
    max-height: 240px;
    overflow-y: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}
.middle_content .search_create .post_search .group .items .item {
    padding: 4px 16px;
    display: block;
    font-size: 13px;
    color: #555;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.middle_content .search_create .create_post button {
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    background: var(--gradient-btn);
    color: var(--white-color);
    padding: 4px 20px;
    width: 100%;
    height: 36px;
    border-radius: 30px;
}
.middle_content .story {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    grid-auto-rows: minmax(280px);
}
.middle_content .story .item {
    position: relative;
}
.middle_content .story .item img {
    width: 100%;
    border-radius: 20px;
}
.middle_content .story .item .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 4px;
}
.middle_content .story .item .content h4 {
    color: var(--story-color);
    font-size: 16px;
    font-weight: 600;
}
.middle_content .story .item .content p {
    color: var(--paragraph-color);
    font-weight: 600;
}
.middle_content .destop_create_post {
    margin-top: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    padding: 6px 16px;
    color: var(--paragraph-color);
    cursor: pointer;
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.middle_content .destop_create_post:hover {
    background-color: #f2f2f2;
}
.middle_content .btrip_post {
    margin-top: 20px;
}
.middle_content .btrip_post h4 {
    color: var(--heading-color);
}
.middle_content .btrip_post p {
    color: var(--paragraph-color);
}
.middle_content .rentcar_filter,
.middle_content .car_sell_filter {
    display: none;
    column-gap: 12px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.middle_content .rentcar_filter .left .filter,
.middle_content .car_sell_filter .left .filter {
    color: var(--btn-color);
    cursor: pointer;
    padding: 4px 8px;
}
.middle_content .rentcar_filter .right .add,
.middle_content .car_sell_filter .right .add {
    background: var(--gradient-btn);
    color: var(--white-color);
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 6px 16px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.middle_content .rentcar_filter .right .add:hover,
.middle_content .car_sell_filter .right .add:hover {
    background: var(--hover-gradient-btn);
}
.middle_content .rentcar_filter {
    margin-bottom: 0;
}
.middle_content .rentcar_filter ul {
    display: flex;
    column-gap: 12px;
}
.middle_content .rentcar_filter ul li {
    color: var(--heading-color);
    border: 1px solid var(--border-color);
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .15);
}
.middle_content .rentcar_filter ul li.active {
    border: 1px solid var(--border-color);
    background: var(--gradient-btn);
    color: var(--white-color);
}


.btrip_post .posts .post {
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,.075);
    margin-bottom: 20px;
}
.btrip_post .posts .post .header {
    display: flex;
    column-gap: 20px;
    padding: 12px 8px;
}
.btrip_post .posts .post .header .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid var(--active-color);
    border-radius: 50%;
}
.btrip_post .posts .post .header .avatar img {
    width: 100%;
}
.btrip_post .posts .post .header .content .name {
    font-weight: 600;
    color: var(--heading-color);
}
.btrip_post .posts .post .header .content .data_time {
    font-size: 13px;
    color: var(--paragraph-color);
}
.btrip_post .posts .post .body {
    padding: 12px 8px;
    padding-top: 0;
}
.btrip_post .posts .post .body .text {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 40px 20px;
}
.btrip_post .posts .post .body .info {
    margin-top: 8px;
}

.btrip_post .posts .post .body .info ._i {
    font-size: 14px;
    color: var(--heading-color);
}
.btrip_post .posts .post .body .info ._i span {
    font-weight: 600;
}
.btrip_post .posts .post .footer {
    padding: 12px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btrip_post .posts .post .footer .like,
.btrip_post .posts .post .footer .comment {
    display: flex;
    column-gap: 8px;
    cursor: pointer;
}
.btrip_post .posts .post .footer .like img,
.btrip_post .posts .post .footer .comment img {
    width: 20px;
    height: 20px;
}
.btrip_post .posts .post .footer .booking a {
    font-weight: 600;
    background: var(--gradient-btn);
    color: var(--white-color);
    padding: 8px 30px;
    border-radius: 20px;
}
.btrip_post .posts .post .footer .booked a {
    background: var(--gradient-btn-booked);
}

/* Right Sidebar css */
.right_sidebar .sidebar .post_search {
    margin-bottom: 20px;
}
.right_sidebar .sidebar .post_search h5 {
    margin-bottom: 12px;
    font-size: 20px;
    color: #444;
}
.right_sidebar .sidebar .post_search form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.right_sidebar .sidebar .post_search form input,
.right_sidebar .sidebar .post_search form select {
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
    border-radius: 30px;
}
.right_sidebar .sidebar .post_search form input:focus,
.right_sidebar .sidebar .post_search form select:focus {
    box-shadow: none;
    color: var(--active-color);
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
}
.right_sidebar .sidebar .post_search form button {
    border: none;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    color: var(--white-color);
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
    background: var(--gradient-btn);
}
.right_sidebar .sidebar .post_search form button:hover {
    background: var(--hover-gradient-btn);
}

.right_sidebar .sidebar .post_search .group,
.right_sidebar .sidebar .journey_schedule .filter form .group,
.wrapper.car_ads_post .ads_post_form form .group {
    position: relative;
}
.right_sidebar .sidebar .post_search .group .items,
.right_sidebar .sidebar .journey_schedule .filter form .group .items,
.wrapper.car_ads_post .ads_post_form form .group .items {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .15);
    width: 100%;
    max-height: 240px;
    overflow-y: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}
.right_sidebar .sidebar .post_search .group .items .item,
.right_sidebar .sidebar .journey_schedule .filter form .group .items .item,
.wrapper.car_ads_post .ads_post_form form .group .items .item {
    padding: 4px 16px;
    display: block;
    font-size: 13px;
    color: #555;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.right_sidebar .sidebar .post_search .group .items .item:hover,
.right_sidebar .sidebar .journey_schedule .filter form .group .items .item:hover,
.wrapper.car_ads_post .ads_post_form form .group .items .item:hover {
    background-color: #eee;
}
.right_sidebar .sidebar .journey_schedule > h4 {
    color: var(--heading-color);
    margin-bottom: 16px;
}
.right_sidebar .sidebar .journey_schedule .schedules .item {
    display: flex;
    column-gap: 12px;
    margin-bottom: 20px;
}
.right_sidebar .sidebar .journey_schedule .schedules .item:last-child {
    margin-bottom: 0;
}
.right_sidebar .sidebar .journey_schedule .schedules .item img {
    width: 50px;
}
.right_sidebar .sidebar .journey_schedule .schedules .item .content .title {
    font-weight: 600;
    color: var(--heading-color);
}
.right_sidebar .sidebar .journey_schedule .schedules .item .content .date {
    font-size: 13px;
    color: var(--paragraph-color);
}


/* Rent A Car Css */
.middle_content .rent_car {
    margin-top: 30px;
}
.middle_content .rent_car table th {
    color: var(--heading-color);
    font-size: 14px;
}
.middle_content .rent_car table td {
    font-size: 14px;
}
.add_rent_car button,
.add_rent_car a,
.journey_schedule .filter button {
    background: var(--gradient-btn);
    color: var(--white-color);
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 6px 16px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.add_rent_car button:hover,
.add_rent_car button:focus,
.add_rent_car a:hover,
.add_rent_car a:focus {
    color: var(--white-color);
}
.journey_schedule .filter h4 {
    font-size: 16px;
    color: var(--heading-color);
}
.journey_schedule .filter label {
    font-size: 13px;
    font-weight: 600;
}
.my_wallet {
    width: 75%;
}
.my_wallet .wallet_content .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.my_wallet .wallet_content .header .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 2px solid var(--active-color);
    border-radius: 50%;
    margin-bottom: 4px;
}
.my_wallet .wallet_content .header .avatar img {
    width: 100%;
}
.my_wallet .wallet_content .header .star_rating {
    display: table;
    margin: auto;
}
.my_wallet .wallet_content .header .star_rating .bottom {
    position: relative;
    display: block;
    background-image: url('../../images/frontend/star-bottom.png');
    background-repeat: repeat-x;
    background-size: contain;
    width: 80px;
    height: 16px;
}
.my_wallet .wallet_content .header .star_rating .bottom .top {
    display: block;
    position: absolute;
    background-image: url('../../images/frontend/star-top.png');
    background-repeat: repeat-x;
    background-size: contain;
    width: 88%;
    height: 16px;
}
.my_wallet .wallet_content .header .content .name {
    margin-top: 8px;
    font-weight: 600;
}
.my_wallet .wallet_content .header .content .designation {
    color: var(--paragraph-color);
    font-size: 14px;
}
.wallet_file_upload {
    display: grid;
    height: auto;
    align-content: start;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    column-gap: 60px;
    row-gap: 20px;
    width: 700px;
    margin: auto;
    margin-top: 30px;
    padding: 0 30px;
}
.wallet_file_upload .car_info_item {
    border: 1px solid var(--border-color);
    max-width: 300px;
    display: block;
}
.wallet_file_upload .car_info_item .text {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    color: var(--heading-color);
    background-color: var(--border-color);
}
.wallet_file_upload .car_info_item .icon {
    max-width: 300px;
    min-height: 130px;
    text-align: center;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallet_file_upload .car_info_item .icon img {
    max-width: 100%;
    font-size: 14px;
}
.wallet_file_upload .car_info_item .icon i {
    border: 2px dashed var(--border-color);
    padding: 8px 16px;
    cursor: pointer;
}

/* Wallet Modal Css */
#WalletImgViewModal .slide_wallet {
    position: relative;
}
#WalletImgViewModal .slide_wallet .image {
    width: 100%;
}
#WalletImgViewModal .slide_wallet .image img {
    max-width: 100%;
    margin: auto;
    display: table;
}
#WalletImgViewModal .slide_wallet .arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#WalletImgViewModal .slide_wallet .arrow .left,
#WalletImgViewModal .slide_wallet .arrow .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
#WalletImgViewModal .slide_wallet .arrow .left {
    left: -16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#WalletImgViewModal .slide_wallet .arrow .right {
    right: -16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/* Upload Css */
#FileUploadModal .up_img {
    display: flex;
    column-gap: 20px;
}
#FileUploadModal .up_img {
    margin-top: 20px;
}
#FileUploadModal .up_img .front,
#FileUploadModal .up_img .back {
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    position: relative;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
#FileUploadModal .up_img .front img,
#FileUploadModal .up_img .back img {
    max-width: 100%;
}
#FileUploadModal .up_img .front:hover:before,
#FileUploadModal .up_img .back:hover::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000040;
}
#FileUploadModal .up_img .front span,
#FileUploadModal .up_img .back span {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--active-color);
    display: none;
    z-index: 2;
}
#FileUploadModal .up_img .front:hover span,
#FileUploadModal .up_img .back:hover span {
    display: block;
}
#FileUploadModal .up_img .front p,
#FileUploadModal .up_img .back p {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Car Sell Exchange Page Css */
.add_ads_post button {
    background: var(--gradient-btn);
    color: var(--white-color);
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
}
.add_ads_post button:hover,
.add_ads_post button:focus {
    color: var(--white-color);
    background: var(--hover-gradient-btn);
}
.add_ads_post button a {
    color: var(--white-color);
    display: block;
}
.car_sell_exchange.middle_content .story {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.sell_exchange_div {
    padding-top: 40px;
}
.sell_exchange_div .item {
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
}
.sell_exchange_div .item a {
    display: flex;
    column-gap: 12px;
    width: 100%;
}
.sell_exchange_div .item .img {
    width: 30%;
    max-height: 160px;
}
.sell_exchange_div .item .img img {
    max-width: 100%;
    max-height: 100%;
}
.sell_exchange_div .item .content {
    width: 70%;
}
.sell_exchange_div .item .content .title {
    color: var(--heading-color);
    font-size: 18px;
    margin-bottom: 4px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.sell_exchange_div .item a:hover .content .title {
    color: var(--active-color);
}
.sell_exchange_div .item .content .date {
    font-size: 12px;
    color: var(--paragraph-color);
    margin-bottom: 6px;
}
.sell_exchange_div .item .content .mileage,
.sell_exchange_div .item .content .tags {
    font-size: 14px;
    color: var(--paragraph-color);
}
.sell_exchange_div .item .content .price {
    color: var(--active-color);
    font-weight: 600;
    margin-top: 4px;
}

/* Product Search Page Css */
.search_notify {
    display: flex;
    justify-content: space-between;
}
.search_notify h5 {
    font-size: 18px;
}
.search_notify h5 span {
    color: var(--active-color);
}
.search_notify button {
    background: var(--gradient-btn);
    color: var(--white-color);
    font-weight: 600;
}
.search_notify button:hover,
.search_notify button:focus {
    color: var(--white-color);
}

/* Product Details Page Css */
.wrapper.sell_pdt_details {
    display: block;
    padding: 40px 0;
}
.wrapper .product_details {
    display: flex;
    column-gap: 20px;
    width: 100%;
}
.wrapper .product_details .left {
    width: 60%;
}
.wrapper .product_details .right {
    width: 40%;
}
.wrapper .product_details .left .pdt_img {
    max-width: 100%;
    height: 500px;
}
.wrapper .product_details .left .pdt_img img {
    width: 100%;
    height: 100%;
}
.wrapper .product_details .left .pdt_slide {
    padding-top: 16px;
}
.wrapper .product_details .left .pdt_slide ul {
    display: flex;
    column-gap: 8px;
}
.wrapper .product_details .left .pdt_slide ul li {
    max-width: 120px;
    max-height: 100px;
    position: relative;
    cursor: pointer;
}
.wrapper .product_details .left .pdt_slide ul li.active {
    cursor: default;
}
.wrapper .product_details .left .pdt_slide ul li::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ddd;
    opacity: 0.4;
}
.wrapper .product_details .left .pdt_slide ul li.active::after {
    opacity: 0;
}
.wrapper .product_details .left .pdt_slide ul li img {
    width: 100%;
    height: 100%;
}
.wrapper .product_details .right .content .title {
    font-size: 24px;
    color: var(--active-color);
}
.wrapper .product_details .right .content .date {
    font-size: 13px;
    color: var(--paragraph-color);
    margin-bottom: 20px;
}
.wrapper .product_details .right .content .price {
    color: var(--active-color);
    font-size: 16px;
}
.wrapper .product_details .right .content button,
.wrapper .product_details .right .content button a {
    background: var(--gradient-btn);
    color: var(--white-color);
    margin-top: 10px;
}
.wrapper .product_details .right .content .info {
    margin-top: 30px;
}
.wrapper .product_details .right .content .info li {
    line-height: 28px;
    color: var(--heading-color);
    font-weight: 600;
}
.wrapper .product_details .right .content .info li span {
    font-weight: 400;
}
.wrapper .product_description {
    margin-top: 40px;
}

/* Car Ads Post Page Css */
.wrapper.car_ads_post {
    display: block;
    background-color: #e6f8ff;
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 20px;
}
.wrapper.car_ads_post .ads_post_form .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.wrapper.car_ads_post .ads_post_form .heading p {
    color: var(--active-color);
    font-size: 14px;
}
.wrapper.car_ads_post .ads_post_form form {
    max-width: 500px;
    margin: auto;
}
.wrapper.car_ads_post .ads_post_form form h5 {
    font-size: 18px;
}
.wrapper.car_ads_post .ads_post_form form label {
    font-size: 14px;
    font-weight: 600;
}
.wrapper.car_ads_post .ads_post_form form .check_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.wrapper.car_ads_post .ads_post_form form .check_box .form-check label {
    font-weight: 400;
}
.wrapper.car_ads_post .ads_post_form form .add_photo {
    display: flex;
    column-gap: 12px;
    margin-top: 12px;
}
.wrapper.car_ads_post .ads_post_form form .add_photo .item {
    width: 100px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.wrapper.car_ads_post .ads_post_form form .add_photo .item img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: table;
}
.wrapper.car_ads_post .ads_post_form form .add_photo .car_photo_add_btn {
    display: flex;
    align-items: center;
}
.wrapper.car_ads_post .ads_post_form form .add_photo .car_photo_add_btn i {
    color: var(--heading-color);
    border: 2px dashed var(--border-color);
    padding: 10px;
    cursor: pointer;
}
.wrapper.car_ads_post .ads_post_form form .hince {
    font-size: 13px;
    color: var(--active-color);
}
.wrapper.car_ads_post .ads_post_form form .name,
.wrapper.car_ads_post .ads_post_form form .email {
    font-weight: 400;
    font-size: 14px;
}
.wrapper.car_ads_post .ads_post_form form button.post_add_btn {
    background: var(--gradient-btn);
    color: var(--white-color);
    font-weight: 600;
    border: none;
    padding: 6px 12px;
}
.wrapper.car_ads_post .ads_post_form form button.post_add_btn:hover,
.wrapper.car_ads_post .ads_post_form form button.post_add_btn:focus {
    color: var(--white-color);
    background: var(--hover-gradient-btn);
}

/* Dashboard page Css */
.wrapper.dashboard {
    display: block;
    background-color: #e6f8ff;
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 20px;
}
.dashboard_data > .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.dashboard_data > .header .left h4 {
    font-size: 20px;
    color: var(--heading-color);
}
.dashboard_data > .header .left p {
    font-size: 11px;
    color: var(--paragraph-color);
}
.dashboard_data > .header .meddle .post_search {
    position: relative;
}
.dashboard_data > .header .meddle .post_search form input {
    box-shadow: 0 6px 16px -10px rgb(0 0 0 / 75%) inset;
    border-radius: 30px;
    padding-right: 36px;
}
.dashboard_data > .header .meddle .post_search button {
    position: absolute;
    top: 50%;
    right: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    transform: translateY(-50%);
}
.dashboard_data > .header .right .driver_passenger {
    background-color: var(--btn-color);
    display: flex;
    justify-content: space-around;
    padding: 6px;
    border-radius: 12px;
    width: 60%;
    margin-left: auto;
}
.dashboard_data > .header .right .driver_passenger .btn {
    border: none;
    outline: none;
    width: 50%;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.dashboard_data > .header .right .driver_passenger .btn.active {
    background-color: var(--white-color);
    color: var(--active-color);
}

.dashboard_data > .body .accordion-button:focus {
    box-shadow: none;
}
.dashboard_data .return_trip_item {
    display: flex;
    column-gap: 12px;
    align-items: center;
}
.dashboard_data .return_trip_item .left h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}
.dashboard_data .return_trip_item .left p {
    margin-bottom: 0;
    color: var(--paragraph-color);
    font-size: 12px;
}
.dashboard_data .return_trip_item .right p {
    margin-bottom: 0;
    font-size: 13px;
    color: #fc5c1d;
}
.dashboard_data .trip_booking_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dashboard_data .trip_booking_details .left .header {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.dashboard_data .trip_booking_details .left .header .avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border: 2px solid var(--active-color);
    border-radius: 50%;
    margin-bottom: 4px;
} 
.dashboard_data .trip_booking_details .left .header .avatar img {
    width: 100%;
}
.dashboard_data .trip_booking_details .left .header .star_rating .bottom {
    position: relative;
    display: block;
    background-image: url('../../images/frontend/star-bottom.png');
    background-repeat: repeat-x;
    background-size: contain;
    width: 60px;
    height: 12px;
}
.dashboard_data .trip_booking_details .left .header .star_rating .bottom .top {
    display: block;
    position: absolute;
    background-image: url('../../images/frontend/star-top.png');
    background-repeat: repeat-x;
    background-size: contain;
    width: 88%;
    height: 12px;
}
.dashboard_data .trip_booking_details .left .header .content .name {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 16px;
}
.dashboard_data .trip_booking_details .left .journey_info,
.dashboard_data .trip_booking_details .left .car_info {
    margin-top: 20px;
}
.dashboard_data .trip_booking_details .left .journey_info li,
.dashboard_data .trip_booking_details .left .car_info li {
    line-height: 28px;
    font-size: 14px;
    color: var(--heading-color);
}


.dashboard_data .trip_booking_details .right {
    text-align: right;
}
.dashboard_data .trip_booking_details .right .driver_info,
.dashboard_data .trip_booking_details .right .payment_info {
    padding-top: 20px;
}
.dashboard_data .trip_booking_details .right .driver_info li,
.dashboard_data .trip_booking_details .right .payment_info li {
    line-height: 28px;
    font-size: 15px;
    color: var(--heading-color);
    font-weight: 600;
}
.dashboard_data .trip_booking_details .right .driver_info li span,
.dashboard_data .trip_booking_details .right .payment_info li span {
    color: #fc5c1d;
}
.dashboard_data .trip_booking_details .right .driver_info p,
.dashboard_data .trip_booking_details .right .payment_info p {
    font-size: 12px;
    color: var(--active-color);
}
.dashboard_data .trip_booking_details .right .booking_otp > h4 {
    padding-top: 20px;
    color: var(--heading-color);
    font-size: 18px;
}
.dashboard_data .trip_booking_details .right .booking_otp > h4 span {
    color: #fc5c1d;
}
.dashboard_data .trip_booking_details .right .booking_otp form {
    width: 200px;
    display: inline-flex;
    column-gap: 10px;
    position: relative;
}
.dashboard_data .trip_booking_details .right .booking_otp form span.error,
.dashboard_data .trip_booking_details .right .booking_otp form span.success {
    position: absolute;
    top: -16px;
    font-size: 12px;
}
.dashboard_data .trip_booking_details .right .booking_otp form span.error {
    color: #fc5c1d;
}
.dashboard_data .trip_booking_details .right .booking_otp form span.success {
    color: #5cc569;
}
.dashboard_data .trip_booking_details .right .booking_otp form input:focus {
    box-shadow: none;
}
.dashboard_data .trip_booking_details .right .booking_otp form button {
    background: var(--gradient-btn);
    color: var(--white-color);
    outline: none;
    border: none;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.dashboard_data .trip_booking_details .right .booking_otp form button:hover {
    background: var(--hover-gradient-btn);
}
.dashboard_data .trip_booking_details .right .car_info {
    margin-top: 20px;
}
.dashboard_data .trip_booking_details .right .car_info li {
    line-height: 28px;
    font-size: 15px;
    color: var(--heading-color);
}


.dashboard_data >  .header .right span {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.dashboard_data > .header .right span:hover {
    color: var(--active-color);
}
.dashboard_data > .body .profile h4 {
    font-size: 18px;
    color: var(--heading-color);
    margin-bottom: 12px;
}
.dashboard_data > .body .profile li {
    line-height: 28px;
}
.dashboard_data > .body .profile li img {
    width: 80px;
    height: 80px;
}
.dashboard_data > .body .profile li span._heading {
    font-weight: 600;
    width: 170px;
    display: inline-block;
}
.dashboard_data > .body .profile .lr_form {
    margin-top: 20px;
}
.wrapper.dashboard .user-profile {
    display: flex;
    column-gap: 20px;
}
.wrapper.dashboard .user-profile .sidebar {
    width: 300px;
    width: 300px;
    border-right: 1px solid var(--border-color);
    padding-right: 12px;
}
.wrapper.dashboard .user-profile .sidebar .title {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    color: var(--heading-color);
    border-bottom: 1px solid var(--border-color);
}
.wrapper.dashboard .user-profile .sidebar li .link{
    font-weight: 600;
    color: var(--heading-color);
    padding: 8px 0;
    display: block;
    position: relative;
    padding-left: 50px;
    font-size: 14px;
}
.wrapper.dashboard .user-profile .sidebar li .link.router-link-exact-active {
    background: var(--gradient-btn);
    color: var(--white-color);
    border-radius: 12px;
}
.wrapper.dashboard .user-profile .dashboard_data {
    width: calc(100% - 300px);
}
.__profile {
    padding-top: 0;
} 
.__profile .dashboard {
    height: calc(100vh - 74px);
}

/* Login / Register Css */
.wrapper .lr_form {
    background-color: #e6f8ff;
    box-shadow: var(--box-shadow);
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
    position: relative;
}
.wrapper .lr_form > img {
    position: absolute;
    top: -120px;
    right: 50px;
    max-width: 130px;
}
.wrapper .lr_form form {
    max-width: 350px;
    margin: auto;
}
.wrapper .lr_form form > h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
}
.wrapper .lr_form form label {
    font-size: 14px;
    font-weight: 600;
}
.wrapper .lr_form form .img_upload {
    border: 2px solid var(--active-color);
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.wrapper .lr_form form .img_upload::before,
.wrapper .lr_form form .img_upload::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 2px;
    top: 50%;
    left: 35%;
    background-color: var(--active-color);
}
.wrapper .lr_form form .img_upload::after {
    transform: rotate(-90deg);
}
.wrapper .lr_form form .img_upload > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper .lr_form form #reg_img_select_image {
    height: 0;
    padding: 0;
    border: none;
}
.wrapper .lr_form form input.form-control {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--active-color);
}
.wrapper .lr_form form input.form-control:focus {
    box-shadow: none;
}
.wrapper .lr_form form .group {
    position: relative;
}
.wrapper .lr_form form .group .items {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .15);
    width: 100%;
    max-height: 240px;
    overflow-y: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}
.wrapper .lr_form form .group .items .item {
    padding: 4px 16px;
    display: block;
    font-size: 13px;
    color: #555;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.wrapper .lr_form form .group .items .item:hover {
    background-color: #eee;
}
.wrapper .lr_form form > a {
    font-size: 14px;
    text-align: right;
    display: block;
}
.wrapper .lr_form  button.btn {
    background: var(--gradient-btn);
    width: 100%;
    color: var(--white-color);
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
}
.wrapper .lr_form form > p {
    margin-top: 20px;
    font-size: 15px;
}
.wrapper .register_form form {
    max-width: 600px;
}
.wrapper .register_form form .left_right {
    display: flex;
    column-gap: 20px;
}
.wrapper .register_form form .left_right .left,
.wrapper .register_form form .left_right .right {
    width: 50%;
}
.wrapper .register_form form .left_right .right .select_option {
    padding-top: 20px;
}
.wrapper .register_form form .left_right .right .driver_field {
    padding-top: 15px;
}
.wrapper .register_form form .left_right .right .up_img {
    display: flex;
    column-gap: 10px;
}
.wrapper .register_form form .left_right .right .up_img .front,
.wrapper .register_form form .left_right .right .up_img .back {
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    position: relative;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.wrapper .register_form form .left_right .right .up_img .front img,
.wrapper .register_form form .left_right .right .up_img .back img {
    width: 100%;
}
.wrapper .register_form form .left_right .right ._label {
    font-size: 13px;
    margin-bottom: 4px;
}
.wrapper .register_form form .left_right .right .up_img .front:hover:before,
.wrapper .register_form form .left_right .right .up_img .back:hover::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000040;
}
.wrapper .register_form form .left_right .right .up_img .front span,
.wrapper .register_form form .left_right .right .up_img .back span {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--active-color);
    display: none;
}
.wrapper .register_form form .left_right .right .up_img .front:hover span,
.wrapper .register_form form .left_right .right .up_img .back:hover span {
    display: block;
}


/* Create Post Modal Css */
#CreatePostModal .modal-header {
    border-bottom: 0;
    font-size: 13px;
    padding-bottom: 0;
}
#CreatePostModal .modal-header h5 {
    font-size: 16px;
}
#CreatePostModal .modal-footer {
    border-top: 0;
    padding-top: 0;
}
#CreatePostModal .modal-footer button {
    background: var(--gradient-btn);
    color: var(--white-color);
    padding: 4px 16px;
}
#CreatePostModal .modal-body {
    padding: 0;
}
.create_post_modal .header {
    display: flex;
    column-gap: 8px;
    padding: 12px 8px;
}
.create_post_modal .header .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: 2px solid var(--active-color);
    border-radius: 50%;
}
.create_post_modal .header .avatar img {
    width: 100%;
}
.create_post_modal .header .content .name {
    font-size: 14px;
    font-weight: 600;
    color: var(--heading-color);
}
.create_post_modal .header .content .designation {
    margin: 0;
    font-size: 11px;
    color: var(--paragraph-color);
}
.create_post_modal .body textarea {
    padding: 80px 16px;
    border: none;
    border-radius: 0;
    margin-bottom: 4px;
    font-size: 24px;
    text-align: center;
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.create_post_modal .body textarea:focus {
    box-shadow: none;
}
.create_post_modal .body .create_post_bg {
    padding: 0 4px;
}
.create_post_modal .body .create_post_bg .bg {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid var(--border-color);
    margin: 0 2px;
}
.create_post_modal .body .create_post_bg .bg.active {
    border: 2px solid var(--active-color);
}
.create_post_modal .footer {
    padding: 12px;
}
.create_post_modal .footer input.form-control,
.create_post_modal .footer select.form-select {
    border: none;
    border-bottom: 1px solid var(--active-color);
    border-radius: 0;
}
.create_post_modal .footer input.form-control:focus,
.create_post_modal .footer select.form-select:focus {
    box-shadow: none;
}
.create_post_modal .footer label {
    font-size: 13px;
    font-weight: 600;
}


/* Booking Pay Css */
.wrapper .booking_pay {
    background-color: #e6f8ff;
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.wrapper .booking_pay .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper .booking_pay .header .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 2px solid var(--active-color);
    border-radius: 50%;
    margin-bottom: 4px;
}
.wrapper .booking_pay .header .avatar img {
    width: 100%;
}
.booking_pay .header .star_rating {
    display: table;
    margin: auto;
}
.wrapper .booking_pay .header .star_rating .bottom {
    position: relative;
    display: block;
    background-image: url('../../images/frontend/star-bottom.png');
    background-repeat: repeat-x;
    background-size: contain;
    width: 80px;
    height: 16px;
}
.wrapper .booking_pay .header .star_rating .bottom .top {
    display: block;
    position: absolute;
    background-image: url('../../images/frontend/star-top.png');
    background-repeat: repeat-x;
    background-size: contain;
    width: 88%;
    height: 16px;
}
.wrapper .booking_pay .header .content .name {
    margin-top: 8px;
    font-weight: 600;
}
.wrapper .booking_pay .header .content .designation {
    color: var(--paragraph-color);
    font-size: 14px;
}
.wrapper .booking_pay .body {
    padding: 0 60px;
}
.wrapper .booking_pay .body .location {
    position: relative;
    padding-top: 30px;
}
.wrapper .booking_pay .body .location::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--gradient-btn);
    border-radius: 4px;
}
.wrapper .booking_pay .body .location .left,
.wrapper .booking_pay .body .location .right {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--active-color);
}
.wrapper .booking_pay .body .location .left {
    left: 0;
}
.wrapper .booking_pay .body .location .right {
    right: 0;
}
.wrapper .booking_pay .body .location .left p,
.wrapper .booking_pay .body .location .right p {
    margin-bottom: 4px;
}
.wrapper .booking_pay .body .location .left i,
.wrapper .booking_pay .body .location .right i {
    margin-bottom: 4px;
    font-size: 18px;
}
.wrapper .booking_pay .body .location .route_way {
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--active-color);
}
.wrapper .booking_pay .body .details {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.wrapper .booking_pay .body .details .right {
    text-align: right;
}
.wrapper .booking_pay .body .details .left p,
.wrapper .booking_pay .body .details .right p {
    margin-bottom: 4px;
    font-size: 14px;
}
.wrapper .booking_pay .footer {
    text-align: center;
    margin-top: 40px;
}
.wrapper .booking_pay .footer h4 {
    font-size: 18px;
    margin-bottom: 2px;
}
.wrapper .booking_pay .footer p {
    color: var(--paragraph-color);
    margin-bottom: 4px;
}
.wrapper .booking_pay .footer button {
    background: var(--gradient-btn);
    color: var(--white-color);
}

/* Payment Pay Css */
.modal-content {
    background-image: url('../../images/default/BG_Desktop.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    max-width: 100%;
    position: relative;
}
#PaymentModal .modal-header {
    border-bottom: none;
}
#PaymentModal .modal-header h5 {
    font-size: 18px;
}
#PaymentModal .modal-header button {
    font-size: 12px;
}
#PaymentModal .modal-header button:focus {
    box-shadow: none;
}
#PaymentModal .modal-footer {
    border-top: none;
}
#PaymentModal .modal-footer button {
    background: var(--gradient-btn);
    color: var(--white-color);
    font-weight: 600;
    padding: 4px 16px;
}
#PaymentModal .modal-body .payment_form label {
    font-weight: 600;
    font-size: 14px;
}
#PaymentModal .modal-body .payment_form input.form-control,
#PaymentModal .modal-body .payment_form select.form-select {
    border: none;
    border-bottom: 1px solid var(--active-color);
    border-radius: 0;
}

#PaymentModal .modal-body .payment_form input.form-control:focus,
#PaymentModal .modal-body .payment_form select.form-select:focus {
    box-shadow: none;
}












#site_overlay.active {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--black-color);
    opacity: 0.2;
    z-index: 101;
}