<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper car_ads_post">
                <div class="ads_post_form">
                    <div class="heading">
                        <h5>Fill In the Detials</h5>
                        <p>See our posting roles</p>
                    </div>
                    <form>
                        <div class="mb-2">
                            <label for="">What do you want to Sell?</label>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="Cars">Cars</option>
                                <option value="Motorbikes">Motorbikes</option>
                                <option value="Ambulance">Ambulance</option>
                                <option value="Three Wheelers">Three Wheelers</option>
                                <option value="Vans">Vans</option>
                                <option value="Trucks">Trucks</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="">Select City or Division</label>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="Dhaka">Dhaka</option>
                                <option value="Sylhet">Sylhet</option>
                                <option value="Chittagong">Chittagong</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="">Select a local area within Dhaka</label>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="Ramna">Ramna</option>
                                <option value="Tejgaon">Tejgaon</option>
                                <option value="Shahbag">Shahbag</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="">Condition</label>
                            <div class="check_box">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">New</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Reconditioned</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Used</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="">Brand</label>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="Brand">Brand</option>
                                <option value="Brand">Brand</option>
                                <option value="Brand">Brand</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="">Model</label>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="Model1">Model1</option>
                                <option value="Model1">Model1</option>
                                <option value="Model1">Model1</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="">Irm / Edition (Optional)</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <label for="">Year of Manufacture</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <label for="">Kilometers run (km)</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <label for="">Engine capacity (cc)</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <label for="">Fuel Type</label>
                            <div class="check_box">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Diesel</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Electric</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Petrol</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Octane</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">CNG</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">LPG</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Hybrid</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Other Fuel Type</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="">Transmission</label>
                            <div class="check_box">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Manual</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Other transmission</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Automatic</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="">Body Type</label>
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="Model1">Body Type</option>
                                <option value="Model1">Model1</option>
                                <option value="Model1">Model1</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="">Registration Year (Optional)</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <label for="">Description</label>
                            <textarea rows="6" class="form-control"></textarea>
                        </div>
                        <div class="mb-2">
                            <label for="">Price (Tk)</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <div class="check_box">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label">Negotiable</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="">Add Up To 5 Photos </label>
                            <div class="add_photo">
                                <div class="item">
                                    <img src="assets/images/frontend/Return Trip Icon.png" alt="Car Photo">
                                </div>
                                <div class="car_photo_add_btn"><i class="fa-solid fa-plus"></i></div>
                            </div>
                            <p class="hince">You must be upload at last one photo</p>
                        </div>

                        <h5>Contact Details</h5>
                        <div class="mb-2">
                            <label for="">Name</label>
                            <h5 class="name">Dipankar Biswas</h5>
                        </div>
                        <div class="mb-2">
                            <label for="">Email</label>
                            <h5 class="email">dipankar@gmail.com</h5>
                        </div>
                        <div class="mb-2">
                            <label for="">Phone</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">I have read a accept the <a href="#">terms and condition</a></label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm post_add_btn">Add Post</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>