<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper sell_pdt_details">
                <div class="product_details">
                    <div class="left">
                        <div class="pdt_img">
                            <img src="assets/images/frontend/Destop_Ads02.png" alt="Product Image">
                        </div>
                        <div class="pdt_slide">
                            <ul>
                                <li class="active"><img src="assets/images/frontend/Destop_Ads02.png" alt="Product Img"></li>
                                <li><img src="assets/images/frontend/Destop_Ads01.png" alt="Product Img"></li>
                                <li><img src="assets/images/frontend/Destop_Ads01.png" alt="Product Img"></li>
                                <li><img src="assets/images/frontend/Destop_Ads01.png" alt="Product Img"></li>
                                <li><img src="assets/images/frontend/Destop_Ads01.png" alt="Product Img"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="content">
                            <h2 class="title">Toyota C-HR G LED HYBRID BLUE 2017</h2>
                            <div class="date">Posted on 06 Jun 1:23 pm, Shantinagar, Dhaka</div>
                            <button type="button" class="btn btn-sm"><i class="fa-solid fa-phone"></i> 017XXXXXXXX</button>
                            <button type="button" class="btn btn-sm"><i class="fa-solid fa-comments"></i> Chat</button>
                            <div class="info">
                                <ul>
                                    <li class="brand">Brand : <span>Toyota</span></li>
                                    <li class="model">Model : <span>C-HR</span></li>
                                    <li class="edition">Trim / Edition : <span>G LED HYBRID BLUE</span></li>
                                    <li class="manufacture">Year of Manufacture : <span>2017</span></li>
                                    <li class="condition">Condition : <span>Reconditioned</span></li>
                                    <li class="transmission">Transmission : <span>Automatic</span></li>
                                    <li class="body_type">Body type : <span>SUV / 4x4</span></li>
                                    <li class="fuel_type">Fuel type : <span>Hybrid</span></li>
                                    <li class="engine_capacity">Engine capacity : <span>1,800 cc</span></li>
                                    <li class="kilometers_run:">Kilometers run : <span>52,000 km</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_description">
                    <h5>Description :</h5>
                    <p>
                        TOYOTA C-HR G LED, COLOR  ELECTRIC  Blue, 2017 model,
                        Auction grade 4. Mileage 52000 km
                        BLACK LEATHER SEATS, PUSH START, LED HEADLAMPS,
                            STEERING MULTIMEDIA CONTROL, CRUISE CONTROL,
                        PRECRASH SAFETY SYSTEM.
                        SL NO;-64
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>