<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper">

                <left-sidebar></left-sidebar>

                <div class="middle">
                    <div class="middle_content car_sell_exchange">
                        <div class="story">
                            <div class="item">
                                <img src="assets/images/frontend/day01.png" alt="Story Img">
                                <div class="content">
                                    <h4>Dhaka To Barishal</h4>
                                    <p>1200 tk</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/images/frontend/day02.png" alt="Story Img">
                                <div class="content">
                                    <h4>Kustia to Dhaka</h4>
                                    <p>1300 tk</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/images/frontend/day03.png" alt="Story Img">
                                <div class="content">
                                    <h4>Chittagong to Khulna</h4>
                                    <p>2200 tk</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/images/frontend/day01.png" alt="Story Img">
                                <div class="content">
                                    <h4>Dhaka To Barishal</h4>
                                    <p>1200 tk</p>
                                </div>
                            </div>
                        </div>

                        <div class="sell_exchange_div">
                            <div class="item">
                                <a href="product-details.html">
                                    <div class="img">
                                        <img src="assets/images/frontend/Design01.png" alt="Product Image">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Toyota Aqua S- HYBRID 2017</h2>
                                        <div class="date">02/06/2022 at 02:07pm</div>
                                        <div class="mileage">195 KM</div>
                                        <div class="tags">Dhaka, Cars</div>
                                        <div class="price">TK 160,000 /=</div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="product-details.html">
                                    <div class="img">
                                        <img src="assets/images/frontend/design02.png" alt="Product Image">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Toyota Aqua S- HYBRID 2017</h2>
                                        <div class="date">02/06/2022 at 02:07pm</div>
                                        <div class="mileage">195 KM</div>
                                        <div class="tags">Dhaka, Bikes</div>
                                        <div class="price">TK 160,000 /=</div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="product-details.html">
                                    <div class="img">
                                        <img src="assets/images/frontend/Services-Banner.png" alt="Product Image">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Toyota Aqua S- HYBRID 2017</h2>
                                        <div class="date">02/06/2022 at 02:07pm</div>
                                        <div class="mileage">195 KM</div>
                                        <div class="tags">Dhaka, Bikes</div>
                                        <div class="price">TK 160,000 /=</div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="product-details.html">
                                    <div class="img">
                                        <img src="assets/images/frontend/Design01.png" alt="Product Image">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Toyota Aqua S- HYBRID 2017</h2>
                                        <div class="date">02/06/2022 at 02:07pm</div>
                                        <div class="mileage">195 KM</div>
                                        <div class="tags">Dhaka, Cars</div>
                                        <div class="price">TK 160,000 /=</div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="product-details.html">
                                    <div class="img">
                                        <img src="assets/images/frontend/design02.png" alt="Product Image">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Toyota Aqua S- HYBRID 2017</h2>
                                        <div class="date">02/06/2022 at 02:07pm</div>
                                        <div class="mileage">195 KM</div>
                                        <div class="tags">Dhaka, Bikes</div>
                                        <div class="price">TK 160,000 /=</div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="product-details.html">
                                    <div class="img">
                                        <img src="assets/images/frontend/Services-Banner.png" alt="Product Image">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Toyota Aqua S- HYBRID 2017</h2>
                                        <div class="date">02/06/2022 at 02:07pm</div>
                                        <div class="mileage">195 KM</div>
                                        <div class="tags">Dhaka, Bikes</div>
                                        <div class="price">TK 160,000 /=</div>
                                    </div>
                                </a>
                            </div>
                        </div>                  
                    </div>
                </div>

                <car-sell-sidebar></car-sell-sidebar>
                
            </div>
        </div>
    </section>
</template>
<script>
import LeftSidebar from "@/modules/views/comps/LeftSidebar.vue";
import CarSellSidebar from "@/modules/views/comps/CarSellSidebar.vue";

export default {
    components: { LeftSidebar, CarSellSidebar },
    setup(){

    }
}
</script>