<template>
    <form @submit.prevent="submitForm">
      <div>
        <label for="name">Name:</label>
        <input id="name" v-model="name" />
        <span v-if="formErrors.nameError" class="error">{{ formErrors.nameError }}</span>
      </div>

      <div>
        <label for="name">Phone:</label>
        <input type="number" id="name" v-model="phone" />
        <span v-if="formErrors.phoneError" class="error">{{ formErrors.phoneError }}</span>
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input id="email" v-model="email" />
        <span v-if="formErrors.emailError" class="error">{{ formErrors.emailError }}</span>
      </div>


      <div>
        <label for="checkbox">Checkbox:</label>
        <input id="checkbox" type="checkbox" v-model="checkbox" />
        <span v-if="formErrors.checkboxError" class="error">{{ formErrors.checkboxError }}</span>
      </div>

      <div>
        <label for="radio1">Radio Button 1:</label>
        <input id="radio1" type="radio" name="RadioBtn" value="option1" v-model="radio" />
        <label for="radio2">Radio Button 2:</label>
        <input id="radio2" type="radio" name="RadioBtn" value="option2" v-model="radio" />
        <span v-if="formErrors.radioError" class="error">{{ formErrors.radioError }}</span>
      </div>
  
      <button type="submit">Submit</button>
    </form>
</template>
  
<script>
  import { ref, reactive, watch } from 'vue';
  
  export default {
    setup() {
      const name = ref('');
      const phone = ref('');
      const email = ref('');
      const checkbox = ref(false);
      const radio = ref('');
  
      const formErrors = reactive({
        nameError: '',
        phoneError: '',
        emailError: '',
        checkboxError: '',
        radioError: '',
      });
  
      // Watch for changes in the name field
      watch(name, (newValue) => {
        if (!newValue) {
          formErrors.nameError = 'Name is required.';
        }else if (newValue.length < 3) {
          formErrors.nameError = 'Minmum 3 letters required.';
        }else if (newValue.length > 12) {
          formErrors.nameError = 'Maximum 12 letters required.';
        } else {
          formErrors.nameError = '';
        }
      });

      // Watch for changes in the phone field
      watch(phone, (newValue) => {
        if (!newValue) {
          formErrors.phoneError = 'Phone Number is required.';
        }else if (!isValidPhoneNumber(newValue)) {
          formErrors.phoneError = 'Phone number should be 11 digits.';
        }else {
          formErrors.phoneError = '';
        }
      });
  
      // Watch for changes in the email field
      watch(email, (newValue) => {
        if (!newValue) {
          formErrors.emailError = 'Email is required.';
        } else if (!isValidEmail(newValue)) {
          formErrors.emailError = 'Invalid email format.';
        } else {
          formErrors.emailError = '';
        }
      });

      // Watch for changes in the checkbox field
      watch(checkbox, (newValue) => {
        if (!newValue) {
          formErrors.checkboxError = 'Check box is required.';
        }else {
          formErrors.checkboxError = '';
        }
      });
      // Watch for changes in the checkbox field
      watch(radio, (newValue) => {
        if (!newValue) {
          formErrors.radioError = 'Radio Button is required.';
        }else {
          formErrors.radioError = '';
        }
      });


  
      const submitForm = () => {
        console.log(checkbox.value);
        if (!name.value) {
          formErrors.nameError = 'Name is required.';
        }

        if (!phone.value) {
          formErrors.phoneError = 'Phone Number is required.';
        }else if (!isValidPhoneNumber(phone.value)) {
          formErrors.emailError = 'Invalid Phone Number format.';
        }

        if (!email.value) {
          formErrors.emailError = 'Email is required.';
        } else if (!isValidEmail(email.value)) {
          formErrors.emailError = 'Invalid email format.';
        }

        if (!checkbox.value) {
          formErrors.checkboxError = 'Checkbox is required';
        }

        if (!radio.value) {
          formErrors.radioError = 'Radio button is required.';
        }
  
        if (!formErrors.nameError && !formErrors.phoneError && !formErrors.emailError && !formErrors.checkboxError && !formErrors.radioError) {
          // Perform form submission logic
          console.log('Form submitted successfully');
        }
      };
  
      const isValidPhoneNumber = (number) => {
        return /^\d{11}$/.test(number);
        // Remove any non-digit characters from the phone number
        // const cleanedNumber = number.replace(/\D/g, '');

        // Check if the cleaned number meets the desired format
        // const isValidFormat = /^\d{10}$/.test(number);

        // if (!isValidFormat) {
        //   return 'Phone number should be 10 digits.';
        // }else{
        //   return '';
        // }
      };
      const isValidEmail = (email) => {
        // Validate email format using a regular expression or other methods
        // For simplicity, let's assume any non-empty value is considered valid
        // return email.trim() !== '';
        return email.trim() !== '', /^[^@]+@\w+(\.\w+)+\w$/.test(email);
      };
  
      return {
        name,
        phone,
        email,
        formErrors,
        submitForm
      };
    }
  };
</script>
  
<style>
  .error {
    color: red;
  }

  /* Chrome, Safari, Edge, Opera */
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
</style>
  