<script>
import moment from 'moment'
import LeftSidebar from "@/modules/views/comps/LeftSidebar.vue";
import ReturnTripSidebar from "@/modules/views/comps/ReturnTripSidebar.vue";
import PostModal from "@/modules/views/layouts/PostModal.vue";
import AuthStore from "@/store/AuthStore.js";
import ReturnPostStore from "@/store/trip/ReturnPostStore.js";

export default {
    components: { LeftSidebar, ReturnTripSidebar, PostModal },
    setup(){
        const { authUser } = AuthStore();
        const { create_post_modal, all_return_post_data } = ReturnPostStore();

        return {
            moment,
            authUser:authUser(),
            create_post_modal:create_post_modal(),
            all_return_post_data:all_return_post_data(),
        }
    }
}
</script>
<template>
    <section class="top_banner">
        <div class="container-fluid">
            <div class="banner_img">
                <img src="assets/images/frontend/Design01.png" alt="">
            </div>
            <div class="content">
                <h1>Explore The New Way
                    To Return Home</h1>
            </div>
            <div class="mobile_login">
                <div class="login">
                    <a href="login.html" class="continue">Continue With Phone Number</a>
                    <!-- <button type="button" class="btn">Login Google/Facebook</button> -->
                    <h5>OR</h5>
                    <div class="skip">Skip</div>
                    <div class="without">
                        <button type="button" class="btn google">
                            <img src="assets/images/frontend/Google_Icon.png" alt="Google Icon">
                            <span>Google</span>
                        </button>
                        <button type="button" class="btn facebook">
                            <img src="assets/images/frontend/Facebook_Icon.png" alt="Google Icon">
                            <span>Facebook</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="services">
        <div class="container-fluid">
            <div class="banner">
                <h4>Book Your Return Trip In Cheap Rent !!</h4>
                <img src="assets/images/frontend/Services-Banner.png" alt="Services Banner Img">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="single_service">
                        <a href="#">
                            <div class="icon">
                                <img src="assets/images/frontend/Return Trip Icon.png" alt="Return Trip">
                            </div>
                            <div class="content">
                                <h4>Return Trip</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="single_service">
                        <a href="rent-a-car.html">
                            <div class="icon">
                                <img src="assets/images/frontend/Rent A Car Icon.png" alt="Rent A Car">
                            </div>
                            <div class="content">
                                <h4>Rent A Car</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="single_service">
                        <a href="car-sell-exchange.html">
                            <div class="icon">
                                <img src="assets/images/frontend/Buy And Sell Car Icon.png" alt="Buy / Sell Car">
                            </div>
                            <div class="content">
                                <h4>Buy / Sell Car</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="single_service">
                        <a href="my-wallet.html">
                            <div class="icon">
                                <img src="assets/images/frontend/Driving wallet Icon.png" alt="Driving wallet">
                            </div>
                            <div class="content">
                                <h4>Driving wallet</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper return_trip">

                <left-sidebar></left-sidebar>

                <div class="middle">
                    <div class="middle_content">
                        <div class="search_create">
                            <div class="post_search">
                                <form>
                                    <input type="text" class="form-control">
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <div class="create_post" v-if="authUser.role == 'driver'">
                                <button type="button" @click="create_post_modal = true">Post Create</button>
                            </div>
                        </div>
                        <div class="story">
                            <div class="item">
                                <img src="assets/images/frontend/day01.png" alt="Story Img">
                                <div class="content">
                                    <h4>Dhaka To Barishal</h4>
                                    <p>1200 tk</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/images/frontend/day02.png" alt="Story Img">
                                <div class="content">
                                    <h4>Kustia to Dhaka</h4>
                                    <p>1300 tk</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/images/frontend/day03.png" alt="Story Img">
                                <div class="content">
                                    <h4>Chittagong to Khulna</h4>
                                    <p>2200 tk</p>
                                </div>
                            </div>
                        </div>
                        <div class="destop_create_post" v-if="authUser.role == 'driver'" @click="create_post_modal = true">Create Your Post here...</div>
                        <div class="btrip_post">
                            <h4>Find Your Return Trip</h4>
                            <p>98 Trips are available for Barishal- Dhaka</p>
                            <div class="posts">

                                <div class="post" v-for="(item,index) in all_return_post_data" :key="index">
                                    <div class="header">
                                        <div class="avatar">
                                            <img v-if="item.userinfo?.image == null" src="/assets/images/frontend/avatar.png" alt="Avatar Img">
                                            <img v-else :src="item.userinfo?.image" alt="Avatar Img">
                                        </div>
                                        <div class="content">
                                            <div class="name">{{ item.userinfo?.name }}</div>
                                            <div class="data_time">{{ moment(item.created_at).format('LL | LT') }}</div>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="text" :style="item.post_bg" v-html="item.post_data.replace(/\r?\n/g,'<br/>')"></div>
                                        <div class="info">
                                            <div class="starting_point _i"><span>Starting Point:</span> {{ item.pickup_point }}</div>
                                            <div class="ending_point _i"><span>Ending Point:</span> {{ item.dropping_point }}</div>
                                            <div class="routes _i"><span>Routes:</span> {{ item.pickup_point }} to {{ item.dropping_point }}</div>
                                            <div class="car_type _i"><span>Car Type:</span> {{ item.car_type }}</div>
                                            <div class="total_seat _i"><span>Total Seat:</span> {{ item.seat_number }}</div>
                                            <div class="date_of_journey _i"><span>Date of Journey:</span> {{ moment(item.date_of_journey).format('LL') }}</div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="like"><img src="/assets/images/frontend/like.png" alt="Like Icon"> Like</div>
                                        <div class="comment"><img src="/assets/images/frontend/comment.png" alt="Like Icon"> Comment</div>
                                        <div class="booking booked" v-if="item.booking_status == 1"><router-link to="#">Booked</router-link></div>
                                        <div class="booking" v-else><router-link :to="'/trip-booking/'+item.id">Booking Now</router-link></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <return-trip-sidebar></return-trip-sidebar>

            </div>
        </div>
    </section>

    <post-modal></post-modal>
</template>