<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper driving_wallet">
                
                <left-sidebar></left-sidebar>

                <div class="my_wallet">
                    <div class="wallet_content">
                        <div class="header">
                            <div class="avatar">
                                <img src="assets/images/frontend/avatar.png" alt="Avatar Img">
                            </div>
                            <div class="content">
                                <div class="star_rating">
                                    <div class="bottom">
                                        <div class="top"></div>
                                    </div>
                                </div>
                                <div class="name">Elizabeth Lizy</div>
                                <p class="designation">Driver</p>
                            </div>
                        </div>
                        <div class="wallet_file_upload">
                            <div class="car_info_item">
                                <div class="text">Car File Name</div>
                                <div class="icon">
                                    <img src="assets/images/frontend/Design01.png" alt="Car Info Img">
                                </div>
                            </div>
                            <div class="car_info_item">
                                <div class="text">Car File Name</div>
                                <div class="icon">
                                    <img src="assets/images/frontend/Design01.png" alt="Car Info Img">
                                </div>
                            </div>
                            <div class="car_info_item">
                                <div class="text">Car File Name</div>
                                <div class="icon">
                                    <img src="assets/images/frontend/Design01.png" alt="Car Info Img">
                                </div>
                            </div>
                            <div class="car_info_item">
                                <div class="text">Car File Name</div>
                                <div class="icon"><i class="fa-solid fa-plus"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import LeftSidebar from "@/modules/views/comps/LeftSidebar.vue";

export default {
    components: { LeftSidebar },
    setup(){

    }
}
</script>