<template>
     <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper rent_a_car">

                <left-sidebar></left-sidebar>

                <div class="middle">
                    <div class="middle_content">
                        <h5>Your Location is, <a href="#">Wareless Mogbazar</a></h5>
                        <h5>Results showing near Wareless Mogbazar, Cars</h5>
                        <div class="rent_car table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Driver</td>
                                        <td>317, Boro Moghbazar, Dhaka-1217</td>
                                        <td>01545645645</td>
                                    </tr>
                                    <tr>
                                        <td>Driver</td>
                                        <td>317, Boro Moghbazar, Dhaka-1217</td>
                                        <td>01545645645</td>
                                    </tr>
                                    <tr>
                                        <td>Driver</td>
                                        <td>317, Boro Moghbazar, Dhaka-1217</td>
                                        <td>01545645645</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <rent-car-sidebar></rent-car-sidebar>
                
            </div>
        </div>
    </section>
</template>

<script>
import LeftSidebar from "@/modules/views/comps/LeftSidebar.vue";
import RentCarSidebar from "@/modules/views/comps/RentCarSidebar.vue";

export default {
    components: { LeftSidebar, RentCarSidebar },
    setup(){

    }
}
</script>