<script>
import moment from 'moment'
import axios from "axios";
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

export default {
    setup() {
        const route = useRoute();
        const router = useRouter();
        const post_details = ref('');
        const payment_modal = ref(false);
        // const user_post_id = ref('');
        const payment_by = ref('');
        const phone_number = ref('');
        const transition_id = ref('');

        onMounted(async() => {
            await axios.get('/sanctum/csrf-cookie');
            const data = await axios.get(`/api/btrip/return-post-details/${route.params.id}`);
            post_details.value = data.data;
        })

        const BookingPayBtn = () => {
            payment_modal.value = true;
            // user_post_id.value = u_post_id;
        }


        const handleTripBookingPay = async () => {
            try{
                await axios.get('/sanctum/csrf-cookie');

                let formData = new FormData();
                formData.append('post_id',route.params.id);
                formData.append('user_post_id',post_details.value.user_post_id);
                formData.append('user_booking_id',localStorage.getItem('authId'));
                formData.append('payment_by',payment_by.value);
                formData.append('phone_number',phone_number.value);
                formData.append('transition_id',transition_id.value);

                await axios.post('/api/btrip/return-trip-booking',formData);
                payment_modal.value = false;
                router.push(`/trip-booking/${route.params.id}/success`);
            }catch(error){
                if(error.response.status == '422'){
                    alert('Something Wrong!');
                }
            }
        }

        return {
            moment,
            post_details,
            BookingPayBtn,
            payment_modal,
            // user_post_id,
            payment_by,
            phone_number,
            transition_id,
            handleTripBookingPay,
        }
    },
}
</script>

<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper driving_wallet">
                <div class="booking_pay">
                    <div class="header">
                        <div class="avatar">
                            <img v-if="post_details.userinfo?.avatar == ''" src="/assets/images/frontend/avatar.png" alt="Avatar Img">
                            <img v-else :src="post_details.userinfo?.image" alt="Avatar Img">
                        </div>
                        <div class="content">
                            <div class="star_rating">
                                <div class="bottom">
                                    <div class="top"></div>
                                </div>
                            </div>
                            <div class="name">{{ post_details.userinfo?.name }}</div>
                            <p class="designation">{{ post_details.userinfo?.driver_passenger }}</p>
                        </div>
                    </div>
                    <div class="body">
                        <div class="location">
                            <div class="left">
                                <p>{{ post_details.pickup_point }}</p>
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="right">
                                <p>{{ post_details.dropping_point }}</p>
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <p class="route_way">Highway</p>
                        </div>
                        <div class="details">
                            <div class="left">
                                <p>Car Type- {{ post_details.car_type }}</p>
                                <p>Car Number Plate- {{ post_details.car_number_plate }}</p>
                                <p>Capacity- {{ post_details.seat_number }} men</p>
                            </div>
                            <div class="right">
                                <p>Date of Journey-</p>
                                <p>{{ moment(post_details.created_at).format('LL ') }}</p>
                                <p>Pickup Point- {{ post_details.pickup_point }}</p>
                                <p>Drop Point- {{ post_details.dropping_point }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <h4>Total Rent-{{ post_details.post_ammount }} tk</h4>
                        <p>Adv. Pay- {{ (post_details.post_ammount)/2 }} tk</p>
                        <button class="btn btn-sm payment_btn" @click="BookingPayBtn()">Pay {{ (post_details.post_ammount)/2 }} tk</button>
                    </div>
                </div>
            </div>

            <!-- Payment Modal -->
            <div class="modal fade" tabindex="-1" id="PaymentModal" aria-labelledby="exampleModalLabel" aria-hidden="true"
                :class="payment_modal == true?'show':''" 
                :style="{'display':payment_modal == true?'block':'none','background':payment_modal == true?'rgb(0 0 0 / 38%)':''}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Payment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="payment_form">
                                <form>
                                    <div class="mb-2">
                                        <label for="">Payment by</label>
                                        <select class="form-select form-select-sm" v-model="payment_by" aria-label="Default select example">
                                            <option value="bKash">bKash</option>
                                            <option value="nagad">Nagad</option>
                                            <option value="Rocket">Rocket</option>
                                            <option value="SureCash">SureCash</option>
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label for="">Enter Payment Phone Number</label>
                                        <input type="text" class="form-control form-control-sm" v-model="phone_number">
                                    </div>
                                    <div class="mb-2">
                                        <label for="">Payment Transition ID</label>
                                        <input type="text" class="form-control form-control-sm" v-model="transition_id">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm" @click="handleTripBookingPay">Pay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>