<script>
export default {
    setup() {
        
    },
}
</script>

<template>
    <section class="main_wrap tpb-success">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="register_form lr_form py-5 mt-4 mb-4">
                    <h1>Trip Booking Successfully!</h1>
                </div>
            </div>
        </div>
    </section>
</template>
<style lang="scss">
.main_wrap.tpb-success {
    padding-top: 0;
    .wrapper {
        height: calc(100vh - 74px);
        .register_form {
            height: fit-content;
        }
    }
}
</style>