<script>
import LeftSidebar from "@/modules/views/comps/LeftSidebar.vue";
import ReturnTripSidebar from "@/modules/views/comps/ReturnTripSidebar.vue";
import PostModal from "@/modules/views/layouts/PostModal.vue";

export default {
    components: { LeftSidebar, ReturnTripSidebar, PostModal },
    setup(){

    }
}
</script> 
<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper">
                
                <left-sidebar></left-sidebar>

                <div class="middle">
                    <div class="middle_content">
                        <div class="search_create">
                            <div class="post_search">
                                <form>
                                    <input type="text" class="form-control">
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <div class="create_post">
                                <button type="button" @click="create_post_modal = true">Post Create</button>
                            </div>
                        </div>
                        <div class="destop_create_post" @click="create_post_modal = true">Create Your Post here...</div>
                        <div class="btrip_post">
                            <h4>Find Your Return Trip</h4>
                            <p>98 Trips are available for Barishal- Dhaka</p>
                            <div class="posts">

                                <div class="post" v-for="(item,index) in AllReturnPosts" :key="index">
                                    <div class="header">
                                        <div class="avatar">
                                            <img v-if="item.userinfo?.image" :src="item.userinfo?.image" alt="Avatar Img">
                                            <img v-else src="assets/images/frontend/avatar.png" alt="Avatar Img">
                                        </div>
                                        <div class="content">
                                            <div class="name">{{ item.userinfo?.name }}</div>
                                            <div class="data_time">{{ moment(item.created_at).format('LL | LT') }}</div>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="text" :style="item.post_bg" v-html="item.post_data.replace(/\r?\n/g,'<br/>')"></div>
                                        <div class="info">
                                            <div class="starting_point _i"><span>Starting Point:</span> {{ item.pickup_point }}</div>
                                            <div class="ending_point _i"><span>Ending Point:</span> {{ item.dropping_point }}</div>
                                            <div class="routes _i"><span>Routes:</span> {{ item.pickup_point }} to {{ item.dropping_point }}</div>
                                            <div class="car_type _i"><span>Car Type:</span> {{ item.car_type }}</div>
                                            <div class="total_seat _i"><span>Total Seat:</span> {{ item.seat_number }}</div>
                                            <div class="date_of_journey _i"><span>Date of Journey:</span> {{ moment(item.date_of_journey).format('LL') }}</div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="like"><img src="assets/images/frontend/like.png" alt="Like Icon"> Like</div>
                                        <div class="comment"><img src="assets/images/frontend/comment.png" alt="Like Icon"> Comment</div>
                                        <div class="booking"><a href="btrip-booking.html">Booking Now</a></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                <return-trip-sidebar></return-trip-sidebar>
                
            </div>
        </div>
    </section>

    <post-modal></post-modal>
</template>
