<script>
import ProfileSidebar from "@/modules/views/comps/ProfileSidebar.vue"
import AuthStore from "@/store/AuthStore.js";

export default {
    components: { ProfileSidebar },
    setup(){
        const { 
            old_password,
            password,
            confirm_password,
            success_msg, error_msg,
            handleChangePassword,
        } = AuthStore();


        return {
            old_password:old_password(),
            password:password(),
            confirm_password:confirm_password(),
            success_msg:success_msg(),
            error_msg:error_msg(),
            handleChangePassword
        }
    }
}
</script>
<template>
    <section class="main_wrap __profile">
        <div class="container-fluid">
            <div class="wrapper dashboard">
                <div class="user-profile">

                    <profile-sidebar></profile-sidebar>

                    <div class="dashboard_data">
                        <div class="body">
                            <div class="profile">
                                <h4>Change Password</h4>
                                <div class="register_form lr_form">
                                    <p class="text-success">{{ success_msg }}</p>
                                    <p class="text-danger">{{ error_msg }}</p>
                                    <form @submit.prevent="handleChangePassword">
                                        <div class="mb-2">
                                            <label for="">Old Password</label>
                                            <input type="password" v-model="old_password" class="form-control">
                                        </div>
                                        <div class="mb-2">
                                            <label for="">New Password</label>
                                            <input type="password" v-model="password" class="form-control">
                                        </div>
                                        <div class="mb-2">
                                            <label for="">Confirm Password</label>
                                            <input type="password" v-model="confirm_password" class="form-control">
                                        </div>
                                        <button type="submit" class="btn">Change Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

