<script>
import ProfileSidebar from "@/modules/views/comps/ProfileSidebar.vue"

export default {
    components: { ProfileSidebar },
    setup(){
        
    }
}
</script>
<template>
    <section class="main_wrap __profile">
        <div class="container-fluid">
            <div class="wrapper dashboard">
                <div class="user-profile">

                    <profile-sidebar></profile-sidebar>

                    <div class="dashboard_data">
                        <div class="body">
                            Dashboard
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

