<script>
import ProfileSidebar from "@/modules/views/comps/ProfileSidebar.vue"
import moment from 'moment';
import AuthStore from "@/store/AuthStore.js";

export default {
    components: { ProfileSidebar },
    setup(){
        const { 
            authUser,
            name,
            phone,
            email,
            password,
            address,
            district,
            thana,
            driver_passenger,
            driving_license,
            car_plate_num,
            image,
            image_url,
            success_msg, error_msg,
            RegPicBtn,
            RegPicChange,
            DriverPassengerBtn,
            DriverPassenger,
            getToken, 
            ProfileEditBtn,
            show_hide_profile_edit,
            handleProfileUpdate,
        } = AuthStore();


        return {
            moment,
            authUser:authUser(),
            name:name(),
            phone:phone(),
            email:email(),
            password:password(),
            address:address(),
            district:district(),
            thana:thana(),
            driver_passenger:driver_passenger(),
            driving_license:driving_license(),
            car_plate_num:car_plate_num(),
            image:image(),
            image_url:image_url(),
            success_msg:success_msg(),
            error_msg:error_msg(),
            RegPicBtn,
            RegPicChange,
            DriverPassengerBtn,
            DriverPassenger:DriverPassenger(),
            getToken,
            ProfileEditBtn,
            show_hide_profile_edit:show_hide_profile_edit(),
            handleProfileUpdate
        }
    }
}
</script>
<template>
    <section class="main_wrap __profile">
        <div class="container-fluid">
            <div class="wrapper dashboard">
                <div class="user-profile">

                    <profile-sidebar></profile-sidebar>

                    <div class="dashboard_data">
                        <div class="body">
                            <div class="profile" v-if="show_hide_profile_edit == false">
                                <h4>My Profile</h4>
                                <p class="text-success">{{ success_msg }}</p>
                                <p class="text-danger">{{ error_msg }}</p>
                                <ul>
                                    <li v-if="authUser?.image != null">
                                        <img :src="authUser?.image" alt="Image">
                                    </li>
                                    <li v-else>
                                        <img src="/assets/images/frontend/avatar.png" alt="Image">
                                    </li>
                                    <li>
                                        <span class="_heading">Name</span>
                                        <span class="_data">: {{ authUser?.name }}</span>
                                    </li>
                                    <li>
                                        <span class="_heading">Phone</span>
                                        <span class="_data">: {{ authUser?.phone }}</span>
                                    </li>
                                    <li>
                                        <span class="_heading">Address</span>
                                        <span class="_data">: {{ authUser?.address+' '+authUser?.thana+' '+authUser?.district }}</span>
                                    </li>
                                    <li>
                                        <span class="_heading">User Designation</span>
                                        <span class="_data">: {{ authUser?.driver_passenger }}</span>
                                    </li>
                                    <li>
                                        <span class="_heading">Account Create</span>
                                        <span class="_data">: {{ moment(authUser?.created_at).format('LL LTS') }}</span>
                                    </li>
                                    <li>
                                        <span class="_heading">Account Last Update</span>
                                        <span class="_data">: {{ moment(authUser?.updated_at).format('LL LTS') }}</span>
                                    </li>
                                    <li>
                                        <span class="_heading">Action</span>
                                        <span class="_data">: <a href="#" @click="ProfileEditBtn">Profile Edit</a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="profile" v-else>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4>My Profile</h4>
                                    <a href="#" @click="show_hide_profile_edit = false">Back</a>
                                </div>
                                <p class="text-success">{{ success_msg }}</p>
                                <p class="text-danger">{{ error_msg }}</p>
                                <div class="register_form lr_form">
                                    <form @submit.prevent="handleProfileUpdate">
                                        <div class="mb-2">
                                            <div class="img_upload" @click="RegPicBtn">
                                                <img v-if="!image_url == ''" :src="image_url" alt="User Image">
                                                <img v-else src="/assets/images/frontend/avatar.png" alt="User Image">
                                            </div>
                                            <input type="file" class="form-control" id="reg_img_select_image" @change="RegPicChange">
                                        </div>
                                        <div class="left_right">
                                            <div class="left">
                                                <div class="mb-2">
                                                    <label for="">Name</label>
                                                    <input type="text" v-model="name" class="form-control">
                                                </div>
                                                <div class="mb-2">
                                                    <label for="">Phone Number</label>
                                                    <input type="text" v-model="phone" class="form-control">
                                                </div>
                                                <div class="mb-2">
                                                    <label for="">Email</label>
                                                    <input type="email" v-model="email" class="form-control">
                                                </div>
                                                <div class="mb-2">
                                                    <label for="">Address</label>
                                                    <input type="text" v-model="address" class="form-control">
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="mb-2">
                                                    <label for="">District</label>
                                                    <input type="text" v-model="district" class="form-control">
                                                </div>
                                                <div class="mb-2">
                                                    <label for="">Thana</label>
                                                    <input type="text" v-model="thana" class="form-control">
                                                </div>
                                                <div class="mb-2 d-flex gap-3 select_option">
                                                    <label for="">I am a</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="passenger" @click="DriverPassengerBtn('passenger')" checked>
                                                        <label class="form-check-label">Passenger</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="driver" @click="DriverPassengerBtn('driver')">
                                                        <label class="form-check-label">Driver</label>
                                                    </div>
                                                </div>
                                                <div class="driver_field" v-if="DriverPassenger">
                                                    <div class="mb-2">
                                                        <label for="">Driving License No.</label>
                                                        <input type="text" v-model="driving_license" class="form-control">
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="">Number Plate No.</label>
                                                        <input type="text" v-model="car_plate_num" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

