<script>
import moment from 'moment';
import ProfileSidebar from "@/modules/views/comps/ProfileSidebar.vue"
import { onMounted, ref } from 'vue';
import axios from 'axios';

export default {
    components: { ProfileSidebar },
    setup(){
        const trip_booked_data = ref([]);

        onMounted(async() => {
            await axios.get('/sanctum/csrf-cookie');
            const data = await axios.get(`/api/user/trip-booked-data/${localStorage.getItem('authId')}`);
            trip_booked_data.value = data.data;
        })

        return {
            moment,
            trip_booked_data,
        }
    }
}
</script>
<template>
    <section class="main_wrap __profile">
        <div class="container-fluid">
            <div class="wrapper dashboard">
                <div class="user-profile">

                    <profile-sidebar></profile-sidebar>

                    <div class="dashboard_data">
                        <div class="body">
                            <div class="accordion" id="accordionExample">
                                <div class="booking_empty" v-if="trip_booked_data == ''">
                                    <p class="text-center text-danger">You haven't booked yet!!</p>
                                </div>
                                <div class="accordion-item" v-else v-for="(data,index) in trip_booked_data" :key="index">
                                    <!-- Passenger -->
                                    <div class="item">
                                        <h2 class="accordion-header" :id="'heading'+index">
                                            <button class="accordion-button" :class="[index != 0 ? 'collapsed':'']" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse'+index" aria-expanded="true" :aria-controls="'collapse'+index">
                                                <div class="return_trip_item">
                                                    <div class="left">
                                                        <h5>{{ data.postinfo?.pickup_point }} To {{ data.postinfo?.dropping_point }}</h5>
                                                        <p>{{ moment(data.created_at).format('LL - LT') }}</p>
                                                    </div>
                                                    <div class="right">
                                                        <p>Padding</p>
                                                    </div>
                                                </div>
                                            </button>
                                        </h2>
                                        <div :id="'collapse'+index" class="accordion-collapse collapse" :class="[index == 0 ? 'show':'']" :aria-labelledby="'heading'+index" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="trip_booking_details">
                                                    <div class="left">
                                                        <div class="header">
                                                            <div class="avatar">
                                                                <img v-if="data.postuser?.image == null" src="/assets/images/frontend/avatar.png" alt="Avatar Img">
                                                                <img v-else :src="data.postuser?.image" alt="Avatar Img">
                                                            </div>
                                                            <div class="content">
                                                                <div class="name">{{ data.postuser?.name }}</div>
                                                                <div class="star_rating">
                                                                    <div class="bottom">
                                                                        <div class="top"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="journey_info">
                                                            <ul>
                                                                <li>Date of Journey:- {{ moment(data.postinfo?.date_of_journey).format('MMMM Do YYYY') }}</li>
                                                                <li>Pickup Point:- {{ data.postinfo?.pickup_point }}</li>
                                                                <li>Drop Point:- {{ data.postinfo?.dropping_point }}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="car_info">
                                                            <ul>
                                                                <li>Car Type:- {{ data.postinfo?.car_type }}</li>
                                                                <li>Car Number Plate:- {{ data.postinfo?.car_number_plate }}</li>
                                                                <li>Capacity:- {{ data.postinfo?.seat_number }} Men</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="booking_otp">
                                                            <h4 v-if="data.postinfo?.booking_status == 1 && data.postinfo?.admin_action == 1">Return Trip Code : <span>{{ data.booking_otp }}</span></h4>
                                                            <h4 v-else>Return Trip Code : <span>NaN</span></h4>
                                                        </div>
                                                        <div class="driver_info">
                                                            <ul>
                                                                <li>Driver Contact No.</li>
                                                                <li v-if="data.postinfo?.admin_action == 1">{{ data.postinfo?.phone_number }}</li>
                                                                <li v-else>01#########</li>
                                                            </ul>
                                                            <p>[Confirm trip to show Drivers Contact]</p>
                                                        </div>
                                                        <div class="payment_info">
                                                            <ul>
                                                                <li>Total Payment - <span>{{ data.postinfo?.post_amount }} Tk</span></li>
                                                                <li>Payment Status - <span>Half Paid <small>({{ (data.postinfo?.post_amount)/2 }} Tk)</small></span></li>
                                                                <li v-if="(data.postinfo?.admin_action == 0) && (data.driver_action == 0)">Trip Status - <span>Not Confirmed</span></li>
                                                                <li v-else-if="(data.postinfo?.admin_action == 1) && (data.postinfo?.driver_action == 1)">Trip Status - <span>Confirmed</span></li>
                                                                <li v-else-if="(data.postinfo?.admin_action == 1) && (data.postinfo?.driver_action == 2)">Trip Status - <span>Success</span></li>
                                                            </ul>
                                                            <p>[Please pay at least 50% to confirm  Trip]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

