<script>
import { onBeforeMount } from "vue";
import AuthStore from "@/store/AuthStore.js";

export default {
    setup(){
        const { authUser, getUser, Logout } = AuthStore();

        onBeforeMount(async() => {
            // if(localStorage.getItem('authId')){
            //     if(document.cookie.split('=')[1] !== localStorage.getItem('_token')){
            //         Logout();
            //     }
            // }
            await getUser();
        })

        return {
            getUser,
            authUser:authUser(),
            Logout,
        }
    }
}
</script>
<template>
    <header class="header">
        <div class="container-fluid">
            <!-- Destop Nav -->
            <nav class="destop_nav">
                <div class="logo">
                    <router-link to="/"><img src="/assets/images/default/bTrip-Logo.png" alt="bTrip Logo"></router-link>
                </div>
                <div class="nav_items">
                    <ul>
                        <li><router-link to="/">Home</router-link></li>
                        <li><router-link to="/company">Company</router-link></li>
                        <li><router-link to="/contact">Contact</router-link></li>
                        <li><router-link to="/blog">Blog</router-link></li>
                    </ul>
                </div>
                <div class="user_account">
                    <ul v-if="!authUser">
                        <li><router-link to="/register">Register</router-link></li>
                        <li><router-link to="/login" class="active">Login</router-link></li>
                    </ul>
                    <div class="account" v-else>
                        <div class="user">
                            <div class="content">
                                <div class="name">{{ authUser?.name }}</div>
                                <div class="designation">{{ authUser?.driver_passenger }}</div>
                            </div>
                            <div class="avatar">
                                <div class="image">
                                    <img v-if="authUser?.image == null" src="/assets/images/frontend/avatar.png" alt="Avatar Img">
                                    <img v-else :src="authUser?.image" alt="Avatar Img">
                                </div>
                                <div class="noti">1</div>
                            </div>
                        </div>
                        <div class="setting">
                            <ul>
                                <li><router-link to="/dashboard">Dashboard</router-link></li>
                                <li><router-link to="/message">Message</router-link></li>
                                <li><router-link to="/profile">Profile</router-link></li>
                                <li><router-link to="/#" @click="Logout">Logout</router-link></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Mobile Nav -->
            <nav class="mobile_nav">
                <div class="nav_slide">
                    <div class="nav_toggle"><span class="nav_toggle_btn"></span></div>
                    <div class="nav_items">
                        <div class="slide_close"><span>Menu</span> <i class="fa-solid fa-angle-left"></i></div>
                        <ul>
                            <li><router-link to="/">Home</router-link></li>
                            <li><router-link to="/company">Company</router-link></li>
                            <li><router-link to="/contact">Contact</router-link></li>
                            <li><router-link to="/blog">Blog</router-link></li>
                            <!-- <li><router-link to="/register">Register</router-link></li>
                            <li><router-link to="/login">Login</router-link></li> -->
                        </ul>
                        <ul v-if="!authUser">
                            <li><router-link to="/register">Register</router-link></li>
                            <li><router-link to="/login" class="active">Login</router-link></li>
                        </ul>
                        <ul v-else>
                            <li><router-link to="/#" @click="Logout">Logout</router-link></li>
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <router-link to="/"><img src="/assets/images/default/bTrip-Logo.png" alt="bTrip Logo"></router-link>
                </div>
                <div class="user_account">
                    <ul v-if="!authUser">
                        <li><router-link to="/login" class="active">Login</router-link></li>
                    </ul>
                    <div class="account" v-else>
                        <div class="user">
                            <div class="content">
                                <div class="name">Dip</div>
                                <div class="designation">Passenger</div>
                            </div>
                            <div class="avatar">
                                <img v-if="authUser?.image == null" src="/assets/images/frontend/avatar.png" alt="Avatar Img">
                                <img v-else :src="authUser?.image" alt="Avatar Img">
                                <div class="noti">1</div>
                            </div>
                        </div>
                        <div class="setting">
                            <ul>
                                <li><router-link to="/dashboard">Dashboard</router-link></li>
                                <li><router-link to="/message">Message</router-link></li>
                                <li><router-link to="/profile">Profile</router-link></li>
                                <li><router-link to="/#" @click="Logout">Logout</router-link></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</template>
