<script>
import AuthStore from "@/store/AuthStore.js";
import ReturnPostStore from "@/store/trip/ReturnPostStore.js";
import { onMounted } from 'vue';

export default {
    setup(){
        const { authUser } = AuthStore();
        const { ReturnPosts } = ReturnPostStore();
        const { 
            create_post_modal,
            PostBg , 
            post_bg_active, 
            post_data,
            post_bg,
            pickup_point,
            dropping_point,
            phone_number,
            car_type,
            car_number_plate,
            seat_number,
            post_amount,
            date_of_journey,
            handleCreatePost, 
        } = ReturnPostStore();

        onMounted(async() => {
            await ReturnPosts();
            post_bg().value = PostBg().value[post_bg_active().value].bg_color;
        })

        return {
            authUser:authUser(),

            create_post_modal:create_post_modal(),
            PostBg:PostBg(),
            post_bg_active:post_bg_active(),
            post_data:post_data(),
            post_bg:post_bg(),
            pickup_point:pickup_point(),
            dropping_point:dropping_point(),
            phone_number:phone_number(),
            car_type:car_type(),
            car_number_plate:car_number_plate(),
            seat_number:seat_number(),
            post_amount:post_amount(),
            date_of_journey:date_of_journey(),
            ReturnPosts,
            handleCreatePost,
        }
    }
}
</script>
<template>
    <!-- Create Post Modal -->
    <div class="modal fade" tabindex="-1" id="CreatePostModal" 
        :class="create_post_modal == true?'show':''" 
        :role="create_post_modal == true?'dialog':''" 
        :aria-modal="create_post_modal == true?'true':''" 
        :style="{'display':create_post_modal == true?'block':'none','background':create_post_modal == true?'rgb(0 0 0 / 38%)':''}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="create_post_modal=false"></button>
                </div>
                <div class="modal-body">
                    <div class="create_post_modal">
                        <div class="header">
                            <div class="avatar">
                                <img v-if="authUser?.image" :src="authUser?.image" alt="Avatar Img">
                                <img v-else src="/assets/images/frontend/avatar.png" alt="Avatar Img">
                            </div>
                            <div class="content">
                                <div class="name">{{ authUser?.name }}</div>
                                <p class="designation">{{ authUser?.driver_passenger }}</p>
                            </div>
                        </div>
                        <div class="body">
                            <textarea v-model="post_data" class="form-control create_post_data" rows="1" placeholder="Type Post Content..." :style="PostBg[post_bg_active].bg_color"></textarea>
                            <div class="create_post_bg">

                                <span v-for="(item,index) in PostBg" :key="index" class="bg" 
                                    :style="item.bg_color" 
                                    @click="post_bg_active = index, post_bg=item.bg_color" 
                                    :class="(post_bg_active == index)?'active':''"
                                    
                                ></span>

                            </div>
                        </div>
                        <div class="footer">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Pickup Point *</label>
                                        <input type="text" v-model="pickup_point" class="form-control form-control-sm current_place">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Dropping Point *</label>
                                        <input type="text" v-model="dropping_point" class="form-control form-control-sm destination">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Mobile Number  *</label>
                                        <input type="text" v-model="phone_number" class="form-control form-control-sm phone_number">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Car Type *</label>
                                        <select v-model="car_type" class="form-select form-select-sm car_type" aria-label=".form-select-sm example">
                                            <option value="Private Car">Private Car</option>
                                            <option value="Ambulance">Ambulance</option>
                                            <option value="Microbus">Microbus</option>
                                            <option value="Bike">Bike</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Car Number Plate  *</label>
                                        <input type="text" v-model="car_number_plate" class="form-control form-control-sm car_number_plate">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Seat Number *</label>
                                        <input type="text" v-model="seat_number" class="form-control form-control-sm trip_time">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Amount  *</label>
                                        <input type="text" v-model="post_amount" class="form-control form-control-sm trip_ammount">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Date of Journey *</label>
                                        <input type="date" v-model="date_of_journey" class="form-control form-control-sm trip_date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" @click="handleCreatePost">Post</button>
                </div>
            </div>
        </div>
    </div>
</template>