<script>
import moment from 'moment'
export default {
    props:['driver_modal','driver_data'],
    setup(props, context) {
        const sendDataToParent = () =>{
            context.emit('data-to-parent', false);
        }

        return {
            moment,
            sendDataToParent,
        }
    },
}
</script>
<template>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="DriverDataModal" aria-labelledby="exampleModalLabel" aria-hidden="true"
        :class="driver_modal == true?'show':''" 
        :style="{'display':driver_modal == true?'block':'none','background':driver_modal == true?'rgb(0 0 0 / 38%)':''}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Driver Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="sendDataToParent"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody class="therapist_patient_details">
                            <tr>
                                <td colspan="2" class="img">
                                    <img v-if="driver_data.image == ''" src="/assets/admin/images/avatar.png" alt="Image" style="width:100px; height:100px; border-radius:50%;margin: auto;display: table;">
                                    <img v-else :src="driver_data.image" alt="Image" style="width:100px; height:100px; border-radius:50%;margin: auto;display: table;">
                                </td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td class="name">{{ driver_data.name }}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td class="address">{{ driver_data.address }}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td class="phone">{{ driver_data.phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="sendDataToParent">Ok</button>
                </div>
            </div>
        </div>
    </div>
</template>