<script>
import moment from 'moment'
export default {
    props:['passenger_modal','passenger_data'],
    setup(props, context) {
        const sendDataToParent = () =>{
            context.emit('data-to-parent', false);
        }

        return {
            moment,
            sendDataToParent,
        }
    },
}
</script>
<template>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="PassengerDataModal" aria-labelledby="exampleModalLabel" aria-hidden="true"
        :class="passenger_modal == true?'show':''" 
        :style="{'display':passenger_modal == true?'block':'none','background':passenger_modal == true?'rgb(0 0 0 / 38%)':''}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Passenger Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="sendDataToParent"></button>
                </div>
                <div class="modal-body">
                    <table  class="table">
                        <tbody class="therapist_patient_details">
                            <tr>
                                <td colspan="2" class="img">
                                    <img v-if="passenger_data.image == ''" src="/assets/admin/images/avatar.png" alt="Image" style="width:100px; height:100px; border-radius:50%;margin: auto;display: table;">
                                    <img v-else :src="passenger_data.image" alt="Image" style="width:100px; height:100px; border-radius:50%;margin: auto;display: table;">
                                </td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td class="name">{{ passenger_data.name }}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td v-if="passenger_data.address == null" class="address">---</td>
                                <td v-else class="address">{{ passenger_data.address }}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td class="phone">{{ passenger_data.phone }}</td>
                            </tr>
                        </tbody>
                        <tbody v-for="(data, index) in payment_data" :key="index">
                            <tr>
                                <th>Payment By</th>
                                <td class="">{{ data.payment_by }}</td>
                            </tr>
                            <tr>
                                <th>Payment Phone</th>
                                <td class="">{{ data.phone_number }}</td>
                            </tr>
                            <tr>
                                <th>Transition ID</th>
                                <td class="">{{ data.transition_id }}</td>
                            </tr>
                            <tr>
                                <th>Booking Date</th>
                                <td class="">{{ moment(data.created_at).format("LL") }} --- {{ moment(data.booking_time).format('LTS') }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <h4 v-if="driver_data == ''" class="text-center">Not Booking</h4> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</template>