<template>
    <!-- Sidebar Code -->
    <aside id="main_sidebar" class="main_sidebar">
        <div class="main_header">
            <router-link to="/admin" class="logo">Admin</router-link>
            <a id="sidebar_toggle"><i class="fa-solid fa-bars"></i></a>
        </div>
        <ul class="sidebar_menu">
            <li><router-link to="/admin"><i class="fa-solid fa-home"></i><span>Dashboard</span></router-link></li>
            <!-- <li class="treeview"><a href="#"><i class="fa-solid fa-thumbtack"></i><span>Posts</span></a>
                <ul>
                    <li><a href="post/posts.html"><i class="fa-solid fa-angle-double-right"></i><span>All Posts</span></a></li>
                    <li><a href="post/post-add.html"><i class="fa-solid fa-angle-double-right"></i><span>Add New</span></a></li>
                    <li><a href="post/post-categories.html"><i class="fa-solid fa-angle-double-right"></i><span>Categories</span></a></li>
                    <li><a href="post/post-tags.html"><i class="fa-solid fa-angle-double-right"></i><span>Tags</span></a></li>
                </ul>
            </li> -->
            <li class="treeview"><router-link to="/admin/library"><i class="fa-solid fa-photo-video"></i><span>Media</span></router-link>
                <ul>
                    <li><router-link to="/admin/library"><i class="fa-solid fa-angle-double-right"></i><span>Library</span></router-link></li>
                    <li><router-link to="/admin/media-add"><i class="fa-solid fa-angle-double-right"></i><span>Add New</span></router-link></li>
                </ul>
            </li>
            <li><router-link to="/admin/return-trips"><i class="fa-solid fa-car-side"></i><span>Return Trip</span></router-link></li>
            <li><router-link to="/admin/payment-list"><i class="fa-solid fa-money-bill-1-wave"></i><span>Payment List</span></router-link></li>
            <li><router-link to="/admin/car-sell-ads"><i class="fa-solid fa-money-bill-1-wave"></i><span>Car Sell Ads</span></router-link></li>
            <li><router-link to="/admin/rent-car"><i class="fa-solid fa-money-bill-1-wave"></i><span>Rent Car</span></router-link></li>
            <!-- <li><a href="comments.html"><i class="fa-solid fa-message"></i><span>Comments</span></a></li>
            <li class="treeview"><a href="#"><i class="fa-solid fa-basket-shopping"></i><span>Products</span></a>
                <ul>
                    <li><a href="product/products.html"><i class="fa-solid fa-angle-double-right"></i><span>All Products</span></a></li>
                    <li><a href="product/product-add.html"><i class="fa-solid fa-angle-double-right"></i><span>Add New</span></a></li>
                    <li><a href="product/product-brand.html"><i class="fa-solid fa-angle-double-right"></i><span>Brand</span></a></li>
                    <li><a href="product/product-categories.html"><i class="fa-solid fa-angle-double-right"></i><span>Categories</span></a></li>
                    <li><a href="product/product-tags.html"><i class="fa-solid fa-angle-double-right"></i><span>Tags</span></a></li>
                    <li><a href="product/prodcut-fb.html"><i class="fa-solid fa-angle-double-right"></i><span>FB Product Sets</span></a></li>
                    <li><a href="product/prodcut-attributes.html"><i class="fa-solid fa-angle-double-right"></i><span>Attributes</span></a></li>
                </ul>
            </li>
            <li class="treeview"><a href="#"><i class="fa-solid fa-paint-brush"></i><span>Appearance</span></a>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-angle-double-right"></i><span>Themes</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-double-right"></i><span>Customize</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-double-right"></i><span>Widgets</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-double-right"></i><span>Menus</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-double-right"></i><span>Header</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-double-right"></i><span>Background</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-double-right"></i><span>Theme Options</span></a></li>
                </ul>
            </li> -->
            <li class="treeview"><router-link to="/admin/users"><i class="fa-solid fa-user-alt"></i><span>Users</span></router-link>
                <ul>
                    <li><router-link to="/admin/users"><i class="fa-solid fa-angle-double-right"></i><span>All Users</span></router-link></li>
                    <li><router-link to="/admin/user-add"><i class="fa-solid fa-angle-double-right"></i><span>Add New</span></router-link></li>
                    <li><router-link to="/admin/user-profile"><i class="fa-solid fa-angle-double-right"></i><span>Profile</span></router-link></li>
                </ul>
            </li>
            <li><a @click="AdminLogout" href="#"><i class="fa-solid fa-sign-out-alt"></i><span>Logout</span></a></li>
        </ul>
    </aside>
</template>
<script>
import AdminAuthSotre from "@/store/admin/AdminAuthSotre.js";

export default {
    setup() {
        const { AdminAuthUser, AdminLogout } = AdminAuthSotre();

        return {
            AdminAuthUser:AdminAuthUser(),
            AdminLogout,
        }
    },
}
</script>