<template>
    <div class="container-fluid main_footer">
        <p>
            <span><i class="fa-solid fa-keyboard"></i> Copyright &copy; 2023 NBY IT</span>
            <span class="float-end">v1.0.1</span>
        </p>
    </div>
</template>