<template>
    <div class="container-fluid main_navbar">
        <nav class="navbar">
            <ul>
                <li class="visit-store"><a href="#"><i class="fa-solid fa-desktop"></i> <span>Visit Store</span></a></li>
                <li class="admin_account"><a href="#"><i class="fa-solid fa-user-circle"></i> <span>{{ AdminAuthUser?.name }}</span></a>
                    <ul>
                        <li><a href="#">Setting</a></li>
                        <li><a @click="AdminLogout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
import AdminAuthSotre from "@/store/admin/AdminAuthSotre.js";
import { onBeforeMount } from 'vue';

export default {
    setup() {
        const { AdminAuthUser, getAdminUser, AdminLogout } = AdminAuthSotre();


        onBeforeMount(async() => {
            
            // if(localStorage.getItem('AdminAuthId')){
            //     if(document.cookie.split('=')[1] !== localStorage.getItem('_admin_token')){
            //         AdminLogout();
            //     }
            // }
            await getAdminUser();
        })

        return {
            getAdminUser,
            AdminAuthUser:AdminAuthUser(),
            AdminLogout,
        }
    },
}
</script>