<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="login_form lr_form">
                    <img src="assets/images/frontend/Form Icon.png" alt="Login Form">
                    <form @submit.prevent="handleForgetPassword">
                        <h4>Forget Password</h4>
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            Enter Your <strong>E-mail</strong> and Forgot your password? No problem. Just let us know your email address and we will email you a password reset link that will allow you to choose a new one.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <p class="text-success">{{ success_msg }}</p>
                        <p class="text-danger">{{ error_msg }}</p>
                        <div class="mb-2">
                            <label for="">Email</label>
                            <input type="email" v-model="email" class="form-control">
                        </div>
                        <button type="submit" class="btn">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import AuthStore from "@/store/AuthStore.js";

export default {
    setup(){
        const { email, success_msg, error_msg, handleForgetPassword } = AuthStore();

        return {
            email:email(),
            success_msg:success_msg(),
            error_msg:error_msg(),
            handleForgetPassword
        }
    }
}
</script>