<script>
import AuthStore from "@/store/AuthStore.js";

export default {
    setup(){
        const { email, password, success_msg, error_msg, handleLogin } = AuthStore();


        return {
            email:email(),
            password:password(),
            success_msg:success_msg(),
            error_msg:error_msg(),
            handleLogin,
        }
    }
}
</script>
<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="login_form lr_form">
                    <img src="assets/images/frontend/Form Icon.png" alt="Login Form">
                    <form @submit.prevent="handleLogin">
                        <h4>Login</h4>
                        <p class="text-success">{{ success_msg }}</p>
                        <p class="text-danger">{{ error_msg }}</p>
                        <div class="mb-2">
                            <label for="">Phone Number</label>
                            <input type="email" v-model="email" class="form-control">
                        </div>
                        <div class="mb-2">
                            <label for="">Password</label>
                            <input type="password" v-model="password" class="form-control">
                        </div>
                        <router-link to="/forget-password">Forget Password</router-link>
                        <button type="submit" class="btn">Login</button>
                        <p>Don’t have account? <router-link to="/register">Register</router-link></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>
