<script>
import AuthStore from "@/store/AuthStore.js";

export default {
    setup(){
        const { 
            authUser,
            name,
            phone,
            email,
            password,
            district,
            thana,
            driver_passenger,
            driving_license,
            car_plate_num,
            image,
            image_url,
            RegPicBtn,
            RegPicChange,
            DriverPassengerBtn,
            DriverPassenger,
            getToken, 
            handleRegister,
         } = AuthStore();



        return {
            authUser:authUser(),
            name:name(),
            phone:phone(),
            email:email(),
            password:password(),
            district:district(),
            thana:thana(),
            driver_passenger:driver_passenger(),
            driving_license:driving_license(),
            car_plate_num:car_plate_num(),
            image:image(),
            image_url:image_url(),
            RegPicBtn,
            RegPicChange,
            DriverPassengerBtn,
            DriverPassenger:DriverPassenger(),
            getToken,
            handleRegister
        }
    }
}
</script>
<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="register_form lr_form">
                    <img src="assets/images/frontend/Form Icon.png" alt="Register Form">
                    <form @submit.prevent="handleRegister">
                        <h4>Register</h4>
                        <div class="mb-2">
                            <div class="img_upload" @click="RegPicBtn"><img v-if="!image_url == ''" :src="image_url" alt="User Image"></div>
                            <input type="file" class="form-control" id="reg_img_select_image" @change="RegPicChange">
                        </div>
                        <div class="left_right">
                            <div class="left">
                                <div class="mb-2">
                                    <label for="">Name</label>
                                    <input type="text" v-model="name" class="form-control">
                                </div>
                                <div class="mb-2">
                                    <label for="">Phone Number</label>
                                    <input type="text" v-model="phone" class="form-control">
                                </div>
                                <div class="mb-2">
                                    <label for="">Email</label>
                                    <input type="email" v-model="email" class="form-control">
                                </div>
                                <div class="mb-2">
                                    <label for="">Password</label>
                                    <input type="password" v-model="password" class="form-control">
                                </div>
                                <div class="mb-2">
                                    <label for="">Address</label>
                                    <input type="text" v-model="address" class="form-control">
                                </div>
                            </div>
                            <div class="right">
                                <div class="mb-2">
                                    <label for="">District</label>
                                    <input type="text" v-model="district" class="form-control">
                                </div>
                                <div class="mb-2">
                                    <label for="">Thana</label>
                                    <input type="text" v-model="thana" class="form-control">
                                </div>
                                <div class="mb-2 d-flex gap-3 select_option">
                                    <label for="">I am a</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="passenger" @click="DriverPassengerBtn('passenger')" checked>
                                        <label class="form-check-label">Passenger</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="driver" @click="DriverPassengerBtn('driver')">
                                        <label class="form-check-label">Driver</label>
                                    </div>
                                </div>
                                <div class="driver_field" v-if="driver_passenger == 'driver'">
                                    <div class="mb-2">
                                        <label for="">Driving License No.</label>
                                        <input type="text" v-model="driving_license" class="form-control">
                                    </div>
                                    <div class="mb-2">
                                        <label for="">Number Plate No.</label>
                                        <input type="text" v-model="car_plate_num" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn">Register</button>
                        <p>Already have account? <router-link to="/login">Login</router-link></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>