<script>
import { useRoute } from "vue-router";
import AuthStore from "@/store/AuthStore.js";
import { onMounted } from "vue";

export default {
    setup(){
        const route = useRoute();
        const { _token, email, password, confirm_password, success_msg, error_msg, handleResetPassword } = AuthStore();

        onMounted(() => {
            _token().value = route.params.token;
            email().value = route.query.email;
        })

        return {
            _token:_token(),
            email:email(),
            password:password(),
            confirm_password:confirm_password(),
            success_msg:success_msg(),
            error_msg:error_msg(),
            handleResetPassword,
        }
    }
}
</script>
<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="login_form lr_form">
                    <img src="assets/images/frontend/Form Icon.png" alt="Login Form">
                    <form @submit.prevent="handleResetPassword">
                        <h4>Login</h4>
                        <p class="text-success">{{ success_msg }}</p>
                        <p class="text-danger">{{ error_msg }}</p>
                        <div class="mb-2">
                            <label for="">Email</label>
                            <input type="email" v-model="email" class="form-control">
                        </div>
                        <div class="mb-2">
                            <label for="">Password</label>
                            <input type="password" v-model="password" class="form-control">
                        </div>
                        <div class="mb-2">
                            <label for="">Confirm Password</label>
                            <input type="password" v-model="confirm_password" class="form-control">
                        </div>
                        <button type="submit" class="btn">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>
