<template>
    <section class="main_wrap">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="login_form lr_form">
                    <img src="assets/images/frontend/Form Icon.png" alt="Login Form">
                    <p>Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you? If you didn't receive the email, we will gladly send you another</p>
                    <div style="display: flex;justify-content: space-between;align-items: center;margin-top: 20px;">
                        <button type="button" style="margin-top: 0;width: auto;" class="btn" @click="handleVerifyEmail">Resend Verification Email</button>
                        <a href="#" @click="Logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import AuthStore from "@/store/AuthStore.js";

export default {
    setup(){
        const { handleVerifyEmail, Logout } = AuthStore();

        return {
            handleVerifyEmail,
            Logout
        }
    }
}
</script>